<!-- <%= product_type.name %> item ****** -->
  <tr class="prod">
    <td class="own">
      <input id="own01" type="checkbox" title="Do you own this item?">
      <label for="own01">I own this item.</label>
    </td>
    <td class="item">
      <div class="prod-thumb">
        <%= image_tag "products/icons/#{product_type.image_url}", alt: product_type.name %>
      </div>
      <div class="prod-desc">
        <div class="prod-category"><%= product_type.name %></div>
        <div class="prod-links">
          <ul>
            <li>
              <a href="#" class="add-item button bt-color"><span class="ss-plus"></span>Add</a></li>
            <li>
              <a href="#" class="button">Get Recommendations</a>
            </li>
          </ul>
        </div>
      </div>
    </td>
    <td class="rating">&nbsp;</td>
    <td class="when"><%= product_type.age %></td>
    <td class="priority">
      <div class="priority-high"><%= product_type.priority %></div>
    </td>
  </tr>
<!-- /<%= product_type.name %> item ****** -->
