<%= content_for :title_links do %>
<ul>
  <li>
    <a href="#" id="add-product-type" class="button">
      <span class="ss-plus"></span>New Item
    </a>
  </li>
  <li>
  <%= link_to profile_path, id: "bt-share", class: "button" do %>
    <span class="ss-action"></span>Share
  <% end -%>
  </li>
  <li id="print">
    <a href="#" class="ss-icon" title="Print"><span>Print</span></a>
  </li>
</ul>
<% end -%>
<%= content_for :nav do %>
  <% cache [ @view.list, @view.category_slug, 'categories' ] do -%>
    <nav id="categories">
      <ul>
        <li class="<%= "cat-selected" if @view.default_category? %>">
        <%= link_to "All", list_path %>
        </li>
        <% @view.categories.each do |category| -%>
          <li class="<%= "cat-selected" if !@view.category.blank? && category.id == @view.category.id %>">
          <%= link_to category.name, list_category_path(category.slug) %>
          </li>
      <% end -%>
      </ul>
    </nav>
  <% end -%>
<% end -%>
<%= content_for :tertiary do %>
  <% cache [ current_user, 'friends', 'sidebar' ] do -%>
    <div id="module-follow">
      <div class="content">
        <%= render partial: "friends/friends_sidebar", locals: { user: current_user } %>
      </div>
    </div>
  <% end -%>
<% end -%>
<% cache [ @view.list, @view.category_slug, 'list' ] do -%>
  <form class="label-infield" id="my-list" data-list-entries="<%= @list_entries_json %>">
  </form>
  <script type="text/javascript">
  Mamajamas.Context.List = new Mamajamas.Models.List({
    title: '<%= @view.list.title %>',
    <% if @view.category.present? -%>
    category_id: '<%= @view.category.id %>',
    category: '<%= @view.category.slug %>',
    <% end -%>
    current_position: 0
  })
  </script>
<% end -%>
