<%= content_for :title_links do %>
<ul>
  <li>
    <a href="#" class="button bt-light">
      <span class="ss-plus"></span>
      New Item
    </a>
  </li>
  <li>
    <a href="#" class="button bt-light">Share</a>
  </li>
  <li id="print">
    <a href="#" class="ss-icon" title="Print"><span>Print</span></a>
  </li>
</ul>
<% end -%>
<%= content_for :nav do %>
<nav id="categories">
  <ul>
    <% @categories.each do |category| -%>
      <li class="<%= "cat-selected" if category.id == @category.id %>">
        <%= link_to category.name, list_category_path(category.slug) %>
      </li>
    <% end -%>
  </ul>
</nav>
<% end -%>
<%= content_for :tertiary do %>
<div id="module-follow">
  <div class="content">
    <h3>Follow Mom Friends</h3>
    <p>Log in to find your friends and see what they’ve got. Not a member? Sign up</p>
  </div>
</div>
<div id="module-msg">
  <div class="content">
    <h3>Reach Out</h3>
    <p>Send a message to ask for advice, or to share it.</p>
  </div>
</div>
<% end -%>
<form class="label-infield" id="my-list" data-list-entries="<%= @list_entries_json %>">
</form>
<script type="text/javascript">
Mamajamas.Context.List = new Mamajamas.Models.List({
  title: '<%= @list.title %>',
  category_id: '<%= @category.id %>',
  category: '<%= @category.slug %>'
})
</script>
