<div id="listwrap" class="clearfix">
  <div id="title">
    <div id="subhed">
    </div>
    <div id="title-links">
      <ul class="iconrow">
        <li id="details-link">
          <a href="#" class="icon-link"><span class="ss-icon ss-info"></span>Details</a>
        </li>
        <li id="social-links" class="nav-drop-trigger">
          <a href="#" class="nav-drop-link">
            <span class="ss-icon ss-redirect"></span>Share Registry
          </a>
          <ul class="nav-drop">
            <li>
              <a href="#" class="ss-icon ss-email bt-email" title="Email">Email</a>
            </li>
            <li>
              <a class="ss-icon ss-social-circle" title="Pinterest" href="<%= pinterest_pin_url(media: "http://mamajamas.s3.amazonaws.com/assets/mamajamas_bird_large.png", description: "Check out my list of baby gear on Mamajamas.", url: @view.public_url) %>"
                 data-pin-do="buttonPin"
                 data-pin-config="none">
                Pinterest
              </a>
            </li>
            <li>
              <a href="<%= tweet_url(text: "Check out my list of baby gear on Mamajamas.", via: "mamajamasmom", url: @view.public_url) %>" class="ss-icon ss-social-circle" title="Twitter" target="_blank">Twitter</a>
            </li>
            <li>
              <a href="#" class="ss-icon ss-social-circle" title="Facebook">Facebook</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="listdetails" style="display: none;">
    <%= link_to "", registry_path, class: "ss-icon ss-write icon-edit" %>
    <ul>
      <li>
        <em>
          <i class="fa fa-user"></i> Registrant(s):
        </em> <%= @view.owner.full_name %><br/>
        <% if @view.owner.partner_full_name %>
          <%= @view.owner.partner_full_name %>
        <% end -%>
      </li>
      <li>
        <em>
          <i class="fa fa-list-ul"></i> Created:
        </em> <%= @view.created_at %>
      </li>
      <li>
        <em>
          <i class="fa fa-refresh"></i> Updated:
        </em> <%= t @view.updated_at %>
      </li>
      <li>
        <em>
          <i class="fa fa-calendar-o"></i> Baby due:
        </em> <%= @view.owner.due_date %>
      </li>
      <li>
        <em>
          <i class="fa fa-truck"></i> Shipping:
        </em> <%= simple_format(@view.owner.full_shipping_address) %>
      </li>
      <li>
        <em>
          <i class="fa fa-envelope"></i> Email:
        </em> <%= @view.owner.email %></li>
    </ul>
    <div class="arrow"><span></span></div>
  </div>
  <div id="primary">
    <div class="content">
      <% cache [ @view.list, @view.category_slug, 'categories' ] do -%>
        <nav id="categories">
          <h3>Categories</h3>
          <ul>
            <li class="<%= "cat-selected" if @view.all_category? %>">
              <%= link_to "All", list_category_path('all') %>
            </li>
            <% @view.categories.each do |category| -%>
              <li class="<%= "cat-selected" if !@view.category.blank? && category.id == @view.category.id %>">
                <%= link_to category.name, list_category_path(category.slug) %>
              </li>
            <% end -%>
          </ul>
        </nav>
      <% end -%>
    </div>
  </div>
  <div id="secondary">
    <div class="content">
      <!-- notification ***** -->
      <div id="notifications"><%= notifications %></div>
      <% cache [ @view.list, @view.category_slug, @view.owner, 'list' ] do -%>
        <form class="label-infield" id="my-list" data-list-entries="<%= @list_entries_json %>" data-list-entries-loaded-at="<%= Time.now.utc %>">
        </form>
        <% if @add_list_item_json.present? -%>
          <div id="add-list-item" data-add-list-item="<%= @add_list_item_json %>" style="display:none;"></div>
        <% end -%>
        <script type="text/javascript">
         Mamajamas.Context.List = new Mamajamas.Models.List({
           id: <%= @view.list_id %>,
           title: "<%= @view.list.title.html_safe %>",
           <% if @view.category.present? -%>
           category_id: '<%= @view.category.id %>',
           category: '<%= @view.category.slug %>',
           category_name: '<%= @view.category.name %>',
           <% end -%>
           current_position: 0,
           item_count: <%= @view.list.item_count %>,
           has_recommended_items: <%= @view.recommended_items? %>,
           product_types: JSON.parse('<%= @view.product_types.to_json.html_safe %>'),
           notes: "<%= h(@view.owner.notes.html_safe) %>",
           username: '<%= @view.owner.username %>',
           profile_photo_url: '<%= @view.owner.profile_picture.public_list %>'
         });
         <% if @view.all_category? -%>
         Mamajamas.Context.Categories = <%= @view.categories.to_json.html_safe %>;
         <% end -%>
        </script>
      <% end -%>
    </div>
  </div>
</div>
<div id="tertiary" class="light">
  <div class="content">
    <div id="module-profile">
      <div class="content">
        <p id="sharedby"><span></span>Profile</p>
        <h3><%= @view.owner.display_name %></h3>
        <div id="profile-photo">
          <%= image_tag @view.owner.profile_picture.public_list, alt: "#{@view.owner.username} profile photo" %>
          <div class="progress-container">
            <a id="bt-upload" class="button bt-light">
              <span class="ss-camera"></span> Change Photo
            </a>
            <%= image_tag "progress-bar.gif", alt: "Progress bar", class: "progress", style: "display: none;" %>
          </div>
        </div>
        <div class="module-notes">
          <% if @view.owner.notes.present? -%>
            <div class="expandable editable">
              <span class="ss-icon ss-write icon-edit"></span>
              <p><%= h @view.owner.notes  %></p>
            </div>
          <% end -%>
          <div class="editing" style="<%= "display: none;" if @view.owner.notes.present?  -%>">
            <fieldset>
              <p>
                <span class="ss-icon ss-write icon-edit"></span>
                <label for="user_profile" style="display: none;">
                  Care to share a bit about yourself?
                </label>
                <br/>
                <textarea id="user_profile" name="user_profile"><%= @view.owner.notes %></textarea>
              </p>
            </fieldset>
            <div class="progress-container">
              <button class="cancel-item button bt-light" value="Reset" type="reset">Cancel</button>
              <button type="submit" value="Save" class="button bt-color">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="module-friends">
      <div class="content">
        <h3>Following</h3>
        <% if @view.owner.followed_users_with_shared_lists.none? -%>
          <%= link_to new_friend_path, class: "button bt-color", id: "bt-follow" do -%>
            <span class="ss-icon ss-users"></span>Find &amp; Follow Friends
          <% end -%>
        <% end -%>
        <ul class="clearfix">
          <%= render partial: "friends/sidebar_friend", collection: @view.owner.followed_users_with_shared_lists, locals: { show_names: false } %>
        </ul>
        <% if @view.owner.followed_users_with_shared_lists.size > 12 -%>
          <div class="border"><a href="#" class="show-all-friends">Show all</a></div>
        <% end -%>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
 Mamajamas.Context.List.set("view_count", <%= @view.list.view_count %>);
 Mamajamas.Context.List.set("public_view_count", <%= @view.list.public_view_count %>);
</script>

<% if @view.friends_prompt? -%>
  <!-- modal window box -->
  <div id="friends-modal" class="modal-win">
    <!-- modal window header -->
    <h2>Saved</h2>

    <!-- modal window content -->
    <div class="content">
      <p class="intro center larger">Your list has been saved</p>
      <p class="center">Next up, follow your friends &rsquo; lists!</p>

      <p class="center">
        <%= link_to friends_path, class: "button bt-color", id: "bt-createlist" do %>
          <span class="ss-icon ss-users"></span>Find &amp; follow friends
        <% end -%>
      </p>

    </div>
    <!-- end modal window content -->

  </div>
  <!-- end modal window box -->
<% end -%>
<%= adwords_event "LdrCCN7BzAcQmoDU4wM", "0" %>
