<td class="own">
  <input type="checkbox" {{#if owned}}checked="checked"{{/if}} id="owned-cb-{{product_type_id}}" class="owned-cb" title="Do you own this item?"> <label for="owned-cb-{{product_type_id}}">I own this item.</label>
</td>
<td class="item">
  <div class="prod-thumb">
    <img src="{{image_url}}" alt="Shampoo or Body Wash">
  </div>
  <form class="new-list-item" enctype="multipart/form-data">
    <input id="list_item_product_type_id" name="list_item[product_type_id]" type="hidden" value="{{product_type_id}}">
    <input id="list_item_vendor_id" name="list_item[vendor_id]" type="hidden" value="{{vendor_id}}">
    <input id="list_item_vendor" name="list_item[vendor]" type="hidden" value="{{vendor}}">
    <input id="list_item_category_id" name="list_item[category_id]" type="hidden" value="{{category_id}}">
    <input id="list_item_priority" name="list_item[priority]" type="hidden" value="{{priority}}">
    <input id="list_item_age" name="list_item[age]" type="hidden" value="{{age}}">
    <input id="list_item_rating" name="list_item[rating]" type="hidden" value="{{rating}}">
    <input id="list_item_image_url" name="list_item[image_url]" type="hidden" value="{{image_url}}">
    <input id="list_item_list_item_image_id" name="list_item[list_item_image_id]" type="hidden">
    <div class="prod-desc">
      <div class="prod-category">
        {{product_type}}
      </div>
      <h3>{{name}}</h3>
      <div class="prod-note"></div>
      <fieldset>
        <legend><span>Product Info</span></legend>
        <p>
        <label for="list_item_name">Product name / brand</label>
        <br />
        <input id="list_item_name" name="list_item[name]" size="30" type="text" autocomplete="off" value="{{name}}" class="field-prodname">
        <a href="#" class="button bt-narrow find-item"><span class="ss-search"></span>Choose</a>
        </p>
        <fieldset>
          <legend><span>Need vs. Own</span></legend>
          <ul class="inline">
            <li>
            <input class="need-rb" {{#unless owned}}checked="checked"{{/unless}} id="list_item_owned_0" name="list_item[owned]" type="radio" value="0"> <label for="list_item_owned_0">Need</label>
            </li>
            <li>
            <input class="owned-rb" {{#if owned}}checked="checked"{{/if}} id="list_item_owned_1" name="list_item[owned]" type="radio" value="1"> <label for="list_item_owned_1">Own</label>
            </li>
          </ul>
        </fieldset>
        <p>
        <label for="list_item_link">Link to buy</label>
        <input id="list_item_link" name="list_item[link]" size="30" type="text" value="{{link}}">
        </p>
        <p>
        <label for="list_item_notes">Notes</label> 
        <textarea cols="40" id="list_item_notes" name="list_item[notes]">{{notes}}</textarea>
        </p>
        <p class="label-norm facebook-sharing">
        <input type="checkbox" class="chk-fb-share" id="chk-fb-share-{{product_type_id}}"> <label for="chk-fb-share-{{product_type_id}}" class="small">Share on Facebook</label>
        </p>
      </fieldset>
      <div class="progress-container">
        <a class="button bt-light bt-thumb-upload"><span class="ss-upload"></span>Photo</a>
        <div class="list-item-image-file" style="display: none;">
          <input id="list_item_image_image" name="list_item_image[image]" type="file" value="Photo">
          <input id="list_item_image_image_cache" name="list_item_image[image_cache]" type="hidden">
        </div>
        <img alt="Progress-bar" class="progress bt-thumb-upload" src="/assets/progress-bar.gif" style="display: none;">
      </div>
      <div class="prod-links">
        <ul>
          <li>
            <input class="save-item button bt-color" name="commit" type="submit" value="Save">
          </li>
          <li>
            <button type="reset" value="Reset" class="cancel-item button bt-light">Cancel</button>
          </li>
        </ul>
      </div>
    </div>
  </form>
</td>
<td class="rating">
</td>
