<!-- product image -->
<div class="prod-thumb">
  <img alt="{{product_type_name}}" src="{{assetPath image_url}}">
</div>

<!-- product description -->
<div class="prod-desc editing clearfix">
  <form action="/list/list_items/{{id}}" method="post" class="new-list-item" enctype="multipart/form-data">

    <input id="list_item_product_type_id_{{id}}" name="list_item[product_type_id]" type="hidden" value="{{product_type_id}}">
    <input id="list_item_vendor_id_{{id}}" name="list_item[vendor_id]" type="hidden" value="{{vendor_id}}">
    <input id="list_item_vendor_{{id}}" name="list_item[vendor]" type="hidden" value="{{vendor}}">
    <input id="list_item_category_id_{{id}}" name="list_item[category_id]" type="hidden" value="{{category_id}}">
    <input id="list_item_priority_{{id}}" name="list_item[priority]" type="hidden" value="{{priority}}">
    <input id="list_item_age_{{id}}" name="list_item[age]" type="hidden" value="{{age}}">
    <input id="list_item_rating_{{id}}" name="list_item[rating]" type="hidden" value="{{rating}}">
    <input id="list_item_owned_{{id}}" name="list_item[owned]" type="hidden" value="{{owned}}">
    <input id="list_item_image_url_{{id}}" name="list_item[image_url]" type="hidden" value="{{image_url}}">
    <input id="list_item_list_item_image_id_{{id}}" name="list_item[list_item_image_id]" type="hidden">

    <!-- product category, name, rating -->
    <div class="prod-cat-name-rating">
      <div class="prod-category"> {{product_type_name}}} <a class="bt-addanother" href="#"><strong>+</strong> <span>Add another</span></a> </div>
      <h3><a target="_blank" href="{{link}}">{{name}}</a></h3>
      <fieldset>
        <legend><span>Product Info</span></legend>
        <p>
          <label for="list_item_name_{{id}}" style="display: none; opacity: 0;">Product name / brand</label>
          <br>
          <input type="text" class="field-prodname ui-autocomplete-input" value="{{name}}" autocomplete="off" size="30" name="list_item[name]" id="list_item_name_{{id}}">
          <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span> <a class="button find-item" href="#"><span class="ss-search"></span>Choose</a> </p>
        <p>
          <label for="list_item_link_{{id}}" style="display: none;">Link to buy</label>
          <input type="text" value="{{link}}" size="30" name="list_item[link]" class="list-item-link" id="list_item_link_{{id}}">
        </p>
      </fieldset>
      <div class="rating"> <em>My rating:</em>
      </div>
    </div>
    <!-- end product category, name, rating -->

    <!-- when to buy, need vs. have -->
    <div class="prod-when-own">
    </div>
    <!-- end when to buy, need vs. have -->

    <!-- prod note [editing state, filled] *** -->
    <div class="prod-note prod-note_edit">

      <!-- note input link -->
      <p class="prod-note-trigger"><span class="ss-chat"></span> <strong>Review/comment</strong></p>
      <!-- end note input link -->

      <!-- note input area -->
      <div class="prod-note-input">
        <fieldset>
          <p>
            <label for="list_item_edit_notes_{{id}}"><span class="ss-chat"></span> Review/comment</label>
            <br />
            <textarea name="list_item[notes]" id="list_item_edit_notes_{{id}}">{{notes}}</textarea>
          </p>
        </fieldset>
      </div>
      <!-- end note input area -->

      <!-- note content area -->
      <div class="prod-note-content expandable">
        <p><span class="ss-chat"></span> {{notes}}</p>
      </div>
      <!-- end note content area -->

      <!-- save-cancel buttons -->
      <div class="prod-links">
        <ul>
          <li>
            <button class="cancel-item button bt-light" value="Reset" type="reset">Cancel</button>
          </li>
          <li>
            <input type="submit" value="Save" name="commit" class="save-item button bt-color">
          </li>
        </ul>
      </div>
      <!-- end save-cancel buttons -->

    </div>
    <!-- end prod note *** -->

    <!-- photo upload -->
    <div class="progress-container"> <a class="button bt-light bt-thumb-upload"><span class="ss-upload"></span>Photo</a> <img style="display: none;" src="{{assetPath 'progress-bar.gif'}}" class="progress bt-thumb-upload" alt="Progress-bar"> </div>
    <!-- end photo upload -->

    <div class="list-item-image-file" style="display: none;">
      <input id="list_item_image_image_{{id}}" name="list_item_image[image]" type="file" value="Photo">
      <input id="list_item_image_image_cache_{{id}}" name="list_item_image[image_cache]" type="hidden">
    </div>

    <!-- menu: delete, drag, edit -->
    <div class="prod-edit-menu">
      <ul>
        <li><a href="#" class="delete tooltip"><span>Delete<em></em></span></a></li>
        <li><a href="#" class="drag tooltip"><span>Drag to reorder<em></em></span></a></li>
        <li><a href="#" class="edit tooltip"><span>Edit<em></em></span></a></li>
      </ul>
    </div>
    <!-- end menu: delete, drag, edit -->

    <!-- end product description -->
  </form>
</div>
