<td class="own">
  <input id="own{{listItem.id}}" class="prod-owned" type="checkbox" title="Do you own this item?" {{#if listItem.owned}}checked="checked"{{/if}}> <label for="own{{listItem.id}}">I own this item.</label>
  <label for="own01">I own this item.</label>
</td>
<td class="item">
  <div class="prod-thumb">
    <img src="{{listItem.image_url}}" alt="{{listItem.product_type_name}}">
  </div>
  <div class="prod-desc">
    <div class="prod-category">{{listItem.product_type_name}}</div>
    <!-- drop-down editing menu -->
    <div class="prod-edit-menu">
      <ul class="clearfix">
        <li>
        <a href="#" class="ss-delete"><span>Delete</span></a>
        </li>
      </ul>
    </div><!-- / drop-down editing menu -->
    <div class="prod-links">
      <ul>
        <li>
        <a href="#" class="find-item button bt-color"><span class="ss-search"></span>Choose</a></li>
      </ul>
    </div>
  </div>
</td>
<td class="rating">&nbsp;</td>
