<!-- product image -->
<div class="prod-thumb">
  <img alt="{{listItem.product_type_name}}" src="{{assetPath listItem.image_url}}">
</div>

<!-- product description -->
<div class="prod-desc clearfix">

  <!-- product category, name, rating -->
  <div class="prod-cat-name-rating">
    <div class="prod-category"> {{listItem.product_type_name}} </div>
  </div>

  <!-- when to buy, need vs. have -->
  <div class="prod-when-own">
    <div class="when"> {{buyText listItem}} </div>
    <div class="own"> I {{haveNeed listItem.owned}} {{listItem.quantity}} of these. </div>
  </div>
  <!-- end when to buy, need vs. have -->

  <!-- choose button -->
  <div class="prod-links">
    <ul>
      <li> <a class="find-item button bt-color" href="#"><span class="ss-search"></span>Choose</a></li>
    </ul>
  </div>

  <!-- menu: delete, drag, edit -->
  <div class="prod-edit-menu">
    <ul>
      <li><a href="#" class="delete tooltip"><span>Delete<em></em></span></a></li>
      <li><a href="#" class="drag tooltip"><span>Drag to reorder<em></em></span></a></li>
    </ul>
  </div>
  <!-- end menu: delete, drag, edit -->

  <!-- end product description -->
</div>
