<a class="product-image add-to-list" href="#"><img src="{{medium_image_url}}" alt="" /></a>
<div class="prod-detail-pop">
  <h4>{{name}}</h4>
  <p class="detail-price">
    {{#if price}}
      <a href="{{url}}" target="_blank">{{price}}</a> <em>on {{vendor_name}}</em>
    {{/if}}
  </p>
  {{#if mamajamas_rating}}
  <div class="detail-rating-mj rating">
    <div class="eggs">
      <div class="egg" data-rating="1"></div>
      <div class="egg" data-rating="2"></div>
      <div class="egg" data-rating="3"></div>
      <div class="egg" data-rating="4"></div>
      <div class="egg" data-rating="5"></div>
    </div>
    Mamajamas rating
    <span>({{mamajamas_rating_count}})</span>
  </div>
  {{/if}}
  {{#if rating}}
  <div class="detail-rating-am rating">
    <div class="stars">
      <div class="star" data-rating="1"></div>
      <div class="star" data-rating="2"></div>
      <div class="star" data-rating="3"></div>
      <div class="star" data-rating="4"></div>
      <div class="star" data-rating="5"></div>
    </div>
    Amazon rating
    <span>({{rating_count}})</span>
  </div>
  {{/if}}
  <div class="prod-links">
    <ul>
      <li>
        <a href="#" class="add-to-list button bt-color"><span class="ss-plus"></span>Add to Registry</a>
      </li>
      <li>
        <a href="{{url}}" class="button bt-buy {{vendor}}" target="_blank">
          View on <em>{{vendor_name}}</em>
        </a>
      </li>
    </ul>
  </div>
  <span class="arrow"></span>
</div>
