<!-- modal window header -->
<h2>Choose a <strong>{{product_type_name}}</strong></h2>
<!-- modal window content -->
<div class="content">

  <div id="prod-suggestions-results">
    <h3>Suggested {{product_type_plural_name}}</h3>
    <ul class="prod-search-list clearfix suggestions">
      <div class="progress-container">
        <img src="{{assetPath 'progress-bar.gif'}}" class="progress" style="" />
      </div>
      <p class="no-search-results" style="display: none;">No suggestions found</p>
    </ul>
  </div>

  <div id="prod-search">
    <h3>
      Find More Choices on Amazon
      <a target="_blank" href="http://www.amazon.com/?_encoding=UTF8&camp=1789&creative=390957&linkCode=ur2&tag=mamajamas-20">
        <img src="{{assetPath 'logo_amazon-s.png'}}" alt="Amazon" />
      </a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=mamajamas-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </h3>
    <form method="POST" class="label-infield" id="frm-prod-search">
      <fieldset>
        <p>
          <label for="field-search">Enter keywords to live search for {{product_type_plural_name}}</label>
          <br />
          <input name="field-search" type="text" id="field-search" value="">
        </p>
      </fieldset>
    </form>
  </div>

  <div id="prod-search-results">
    <ul class="prod-search-list clearfix search-results">
      <div class="progress-container">
        <img src="{{assetPath 'progress-bar.gif'}}" class="progress" style="display: none;" />
      </div>
      <p class="no-search-results" style="display: none;">No results found</p>
    </ul>
  </div>

</div>
<!-- end modal window content -->
