{{#if listItem.recommended}}
  <div class="tag tooltip-t"><span>Recommended by Mamajamas<em></em></span></div>
{{/if}}
<!-- product image -->
<div class="prod-thumb">
  <a target="_blank" href="{{affiliateLink listItem.link}}">
    <img alt="{{listItem.product_type_name}}" src="{{assetPath listItem.image_url}}">
  </a>
</div>

<!-- product description -->
<div class="prod-desc clearfix">

  <!-- product category, name, rating -->
  <div class="prod-cat-name-rating">
    <div class="prod-category">
      <a class="bt-addanother" href="#">
        <span class="ss-icon ss-plus"></span>
        <span>Add another</span>
      </a>
    </div>
    <h3>
      <a target="_blank" href="{{affiliateLink listItem.link}}">{{listItem.name}}</a>
      <a class="bt-change" href="#">
        <span class="ss-icon ss-search"></span><span>Change</span>
      </a>
    </h3>
    <div class="rating"> <em>My rating:</em>
    </div>
  </div>
  <!-- end product category, name, rating -->

  <!-- when to buy, need vs. have -->
  {{#ifNotLowPriority listItem}}
  <div class="prod-when-own">
    <div class="price"> <strong>{{listItem.price}}</strong></div>
    <div class="when"> {{buyLink listItem}} </div>
  </div>
  {{/ifNotLowPriority}}
  <!-- end when to buy, need vs. have -->
  <!-- menu: delete, drag, edit -->
  <div class="prod-edit-menu">
    <ul>
      <li><a href="#" class="delete tooltip"><span>Delete<em></em></span></a> </li>
      <li><a href="#" class="drag tooltip"><span>Drag to reorder<em></em></span></a> </li>
      <li><a href="#" class="edit tooltip"><span>Edit<em></em></span></a> </li>
    </ul>
  </div>
  <!-- end menu: delete, drag, edit -->

  <!-- end product description -->
</div>
