<td class="own">
  <input id="own{{listItem.id}}" type="checkbox" title="Do you own this item?" {{#if listItem.owned}}checked="checked"{{/if}}> <label for="own{{listItem.id}}">I own this item.</label>
</td>
<td class="item">
  <div class="prod-thumb">
    <img src="/assets/products/thumb_nursing_bottle-sketch@2x.png" alt="{{listItem.product_type}}">
  </div>
  <div class="prod-desc">
    <div class="prod-category">
      {{listItem.product_type}}
    </div>
    <h3>
      <a href="{{listItem.link}}">{{listItem.name}}</a>
    </h3>
    <div class="prod-note">
      {{listItem.notes}}
    </div><!-- drop-down editing menu -->
    <div class="prod-edit-menu">
      <ul class="clearfix">
        <li>
        <a href="#" class="ss-write"><span>Edit</span></a>
        </li>
        <li>
        <a href="#" class="ss-cart"><span>Buy</span></a>
        </li>
        <li>
        <a href="#" class="ss-delete"><span>Delete</span></a>
        </li>
      </ul>
    </div><!-- / drop-down editing menu -->
  </div>
</td>
<td class="rating">
</td>
<td class="when">
  Pre-birth
</td>
<td class="priority">
  {{priorityIndicator listItem.priority}}
</td>
