<!-- product image -->
<div class="prod-thumb">
  <a target="_blank" href="{{listItem.link}}">
    <img alt="{{listItem.product_type_name}}" src="{{assetPath listItem.image_url}}">
  </a>
</div>

<!-- product description -->
<div class="prod-desc clearfix">

  <!-- product category, name, rating -->
  <div class="prod-cat-name-rating">
    <div class="prod-category"> {{listItem.product_type_name}} <a class="bt-addanother" href="#"><strong>+</strong> <span>Add another</span></a> </div>
    <h3><a target="_blank" href="{{listItem.link}}">{{listItem.name}}</a></h3>
    <div class="rating"> <em>My rating:</em>
    </div>
  </div>
  <!-- end product category, name, rating -->

  <!-- when to buy, need vs. have -->
  <div class="prod-when-own">
    <div class="when"> <a target="_blank" href="{{listItem.link}}">Buy</a> at {{listItem.age}} </div>
  </div>
  <!-- end when to buy, need vs. have -->
  <!-- menu: delete, drag, edit -->
  <div class="prod-edit-menu">
    <ul>
      <li><a href="#" class="delete tooltip"><span>Delete<em></em></span></a> </li>
      <li><a href="#" class="drag tooltip"><span>Drag to reorder<em></em></span></a> </li>
      <li><a href="#" class="edit tooltip"><span>Edit<em></em></span></a> </li>
    </ul>
  </div>
  <!-- end menu: delete, drag, edit -->

  <!-- end product description -->
</div>
