<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :id => "signup-form", :class => "label-infield" }) do |f| %>
  <%= f.hidden_field :signup_registration?, value: true %>
  <!-- modal window close button -->
  <a href="#" class="bt-close ss-icon">Close</a>
  <!-- modal window header -->
  <h2>Sign Up</h2>
  <!-- modal window content -->
  <div class="content">
    <p class="intro center larger">Sign up to save your list and<br> get started keeping track of your baby gear!</p>
    <div class="progress-container fb-progress-container progress-disabled">
      <p class="center"><a class="button" id="bt-fb-connect"><span>Login with Facebook</span></a></p>
      <p class="tip tip-dwn">Signing in through Facebook allows you to find friends who already have Mamajamas lists.<span></span></p>
      <p class="center instruction privacy">We value your privacy, and we’ll<br> never post anything without your express permission.</p>
      <%= image_tag("progress-bar.gif", :class => "progress", :style => "display: none;") %>
    </div>
    <p id="signup-collapsible" class="collapsible center ss-directright"><strong>Or, create an account using your email address.</strong></p>
    <div class="collapsible-content">
      <fieldset>
        <p>
        <%= f.label :full_name, "First and last name" %>
        <br />
        <%= f.text_field :full_name %>
        <%= field_error resource, :full_name %>
        </p>
      </fieldset>
      <fieldset>
        <p>
        <%= f.label :email, "Email address" %>
        <br />
        <%= f.email_field :email %>
        <%= field_error resource, :email %>
        </p>
      </fieldset>
      <div style="display: none;">
        <fieldset>
          <p>
            <%= f.label :username, "Please leave this blank" %>
            <br />
            <%= f.text_field :username %>
            <%= field_error resource, :username %>
          </p>
        </fieldset>
      </div>
      <fieldset>
        <p>
        <%= f.label :password %>
        <br />
        <%= f.password_field :password %>
        <strong id="password-strength" class="status-msg pw-weak"></strong>
        <%= field_error resource, :password %>
        </p>
        <p>
        <%= f.label :password_confirmation, "Confirm password" %>
        <br />
        <%= f.password_field :password_confirmation %>
        <%= field_error resource, :password_confirmation %>
        </p>
      </fieldset>
      <!-- button row -->
      <div class="button-row">
        <div class="progress-container">
          <button type="reset" class="button" id="bt-cancel">Cancel</button>
          <button type="submit" class="button" id="bt-create-account">Create Account</button>
          <%= image_tag("progress-bar.gif", :class => "progress", :style => "display: none;") %>
        </div>
      </div>
    </div>
  </div>
  <!-- end modal window content -->
<% end %>
