<%= render partial: 'categories', locals: { current_category: @product_type.category, categories: @view.categories } %>

<%= content_for :tertiary do %>
  <div id="admin-nav">
    <%= link_to "admin", "/admin" %> &gt;
    <%= link_to "product types", admin_category_product_types_path(@product_type.category) %> &gt;
    <%= @product_type.name %>
  </div>
  <%= render 'actions', category: @product_type.category %>
  <% if @product_type.admin_deleteable? -%>
    <div class="action-nav">
      <%= link_to admin_product_type_path(@product_type), class: "button bt-color", method: "delete" do %>
        <span class="ss-delete"></span> Delete
    <% end -%>
  </div>
  <% end -%>
<% end -%>

<%= form_for([ :admin, @product_type ], html: { id: "product-type-form", class: "label-infield" }) do |f| %>
  <h3><%= @product_type.name %></h3>
  <%= render partial: 'form', locals: { f: f } %>
<% end -%>
