<%= content_for :nav do %>
  <% cache [ 'admin', 'product_types', @view.category_slug, 'categories' ] do -%>
    <nav id="categories">
      <ul>
        <% @view.categories.each do |category| -%>
          <li class="<%= "cat-selected" if !@view.category.blank? && category.id == @view.category.id %>">
          <%= link_to category.name, list_category_path(category.slug) %>
          </li>
      <% end -%>
      </ul>
    </nav>
  <% end -%>
<% end -%>

<%= content_for :tertiary do %>
<div id="admin-nav">
  <%= link_to "admin", "/admin" %> &gt; product types
</div>
<% end -%>
<h2>Product Types</h2>
