<%= render partial: 'categories', locals: { current_category: @view.category, categories: @view.categories } %>

<%= content_for :tertiary do %>
  <div id="admin-nav">
    <%= link_to "admin", "/admin" %> &gt; product types
  </div>
<% end -%>

<h2><%= @view.category.name %> Product Types</h2>
<% @view.product_types.each do |product_type| -%>
  <p>
    <%= link_to product_type.name, edit_admin_product_type_path(product_type) %>
  </p>
<% end -%>
