<%= render partial: 'categories', locals: { current_category: @view.product_type.category, categories: @categories_view.categories } %>

<%= content_for :tertiary do %>
  <div id="admin-nav">
    <%= link_to "admin", "/admin" %> &gt;
    <%= link_to "product types", admin_category_product_types_path(@view.product_type.category) %> &gt;
    <%= @view.product_type.name %>
  </div>
  <%= render 'actions', category: @view.product_type.category %>
<% end -%>

<%= form_for([ :admin, @view.product_type ], html: { id: "product-type-form", class: "label-infield" }) do |f| %>
  <h3>New Product Type</h3>
  <%= render partial: 'form', locals: { f: f, product_type: @view.product_type } %>
<% end -%>
