<li data-uid="<%= invite.uid %>" data-name="<%= invite.name %>" data-pictureurl="<%= invite.picture_url %>">
  <a target="_blank" href="#">
    <img src="<%= invite.picture_url %>" alt="<%= invite.name %>">
  </a>
  <p>
    <strong class="mom"><%= invite.name %></strong>
  </p>
  <% if invite.persisted? -%>
    <button class="button bt-color bt-follow bt-active" type="submit">
      <span class="ss-check"></span>Invited
    </button>
  <% else -%>
    <button class="button bt-color bt-follow <%= prefix %>-invite" type="submit">
      <span class="ss-check"></span>Invite
    </button>
  <% end -%>
</li>
