<li class="<%= "following" if following %>" id="<%= "friend_#{friend.id}" %>" data-friend-id="<%= friend.id %>" data-relationship-id="<%= following.id unless following.blank? %>" data-name="<%= friend.display_full_name_with_coregistrant %>">
  <% if friend.has_shared_list? %>
    <%= link_to public_list_path(friend.slug), target: "_blank" do %>
      <%= image_tag friend.profile_picture.friend, alt: friend.display_full_name_with_coregistrant %>
    <% end -%>
  <% else -%>
    <%= image_tag friend.profile_picture.friend, alt: friend.display_full_name_with_coregistrant %>
  <% end -%>
  <div class="friend-info">
    <% if friend.has_shared_list? %>
      <%= link_to public_list_path(friend.slug), target: "_blank" do %>
        <strong class="mom"><%= friend.display_full_name_with_coregistrant %></strong>
      <% end -%>
    <% else -%>
      <strong class="mom"><%= friend.display_full_name_with_coregistrant %></strong>
    <% end -%>
    <% if friend.list.present? && friend.list.expert? -%>
      <span class="ss-icon ss-target expert" title="Expert list"><em>Expert</em></span>
    <% end -%>
    <div class="friend-data">
      <div class="friend-followers"><%= follower_count(friend) %></div>
      <% if friend.has_shared_list? %>
        <div class="friend-listitems"><%= list_items_count(friend)%></div>
        <div class="friend-updated">Updated list <strong><%= list_updated_at(friend)%></strong></div>
      <% end -%>
    </div>
    <!-- expandable profile text -->
    <div class="profile expandable">
      <p><%= h friend.notes %></p>
    </div>
    <!-- end expandable profile text -->
    <% if following -%>
      <em class="ss-icon check">checked</em>
    <% end -%>
    <% if current_user.present? && !current_user.guest? %>
      <% if following -%>
        <!-- button: state 1: Follow, state 2: Following, state 2 hover: Unfollow  -->
        <button class="button bt-color bt-follow bt-active unfollow" type="submit">
          <span class="bt-text1"><span class="ss-check"></span>Following</span><em class="bt-text2"><span class="ss-delete"></span>Unfollow</em>
        </button>
      <% else -%>
        <button class="button bt-color bt-follow follow" type="submit"><span class="ss-plus"></span><%= follow_text %></button>
      <% end -%>
    <% else -%>
      <%= link_to "View", public_list_path(friend.slug), class: "button bt-color bt-follow", target: "_blank" -%>
    <% end -%>
  </div>
</li>
