<%= content_for :nav do %>
  <ul class="sidemenu">
    <li>
      <%= link_to "Following", following_friends_path %>
    </li>
    <li class="current">
      <%= link_to "Followers", followers_friends_path %>
    </li>
    <li>
      <%= link_to "Discover", new_friend_path %>
    </li>
  </ul>
<% end -%>
<h2 class="visuallyhidden">My Friends</h2>
<div class="friendslistmenu">
  <div class="friends-sort">Sort by:
    <!-- drop-down menu -->
    <div class="choicedrop"> <a href="#"><%= @view.sort_name %> <span class="ss-dropdown"></span></a>
      <ul style="display:none; width:7.5em;">
        <li><a href="#" data-sort="popular">Popularity</a></li>
        <li><a href="#" data-sort="name">Name</a></li>
        <li><a href="#" data-sort="recent">Last updated</a></li>
        <li><a href="#" data-sort="expert">Expert Lists</a></li>
      </ul>
    </div>
    <!-- /drop-down menu -->
  </div>
  <div class="friends-key"> <span class="ss-icon ss-target expert"></span> = Expert List </div>
</div>
<!-- friends list -->
<ul id="friendslist" class="clearfix friends-list">
  <% if @view.followers.size > 0 -%>
    <% @view.followers.each do |friend| -%>
      <%= render partial: 'list_friend', locals: { friend: friend, following: @view.user.following?(friend), follow_text: "Follow Back" } %>
    <% end -%>
  <% else -%>
    <p>No followers yet!</p>
  <% end -%>
</ul>
<!-- end friends list -->
