<%= content_for :nav do %>
  <ul class="sidemenu">
    <li>
      <%= link_to "My Friends", list_friends_path %>
    </li>
    <li class="current">
      <%= link_to "Find Friends", new_friend_path %>
    </li>
  </ul>
<% end -%>
<h2 class="visuallyhidden">Find Friends</h2>
<!-- tabs -->
<div id="findfriends" class="tabs">
  <!-- tab: Facebook -->
  <h2 id="facebookfriends">Facebook</h2>
  <div class="tabbody">
    <% if current_user.facebook_connected? -%>
      <!-- Friends list (Facebook) -->
      <ul class="clearfix friends-list findfriends-lists">
        <% @view.mamajamas_facebook_friends.each do |friend| -%>
          <%= render partial: 'list_friend', locals: { friend: friend, following: current_user.following?(friend) } %>
        <% end -%>
        <%= render partial: 'invite', collection: @view.facebook_invites, locals: { prefix: "fb" } %>
      </ul>
    <% else  -%>
      <%= render 'prompt' %>
    <% end -%>
  </div>
  <!-- end tab: Facebook -->
  <!-- begin tab: Gmail -->
  <h2 id="gmailfriends">Gmail</h2>
  <div class="tabbody">
    <% if current_user.google_connected? -%>
      <% if @view.mamajamas_google_friends.any? || @view.google_invites.any? -%>
        <!-- Friends list (Google) -->
        <ul class="clearfix friends-list findfriends-lists">
          <% @view.mamajamas_google_friends.each do |friend| -%>
            <%= render partial: 'list_friend', locals: { friend: friend, following: current_user.following?(friend) } %>
        <% end -%>
        <%= render partial: 'invite', collection: @view.google_invites, locals: { prefix: "google" } %>
        </ul>
      <% else -%>
        <div class="friends-progress google-friends-progress">
          <%= image_tag "loader.gif" %>
          <h3>downloading gmail contacts</h3>
        </div>
      <% end -%>
    <% else  -%>
      <%= render 'prompt' %>
    <% end -%>
  </div>
  <!-- end tab: Gmail -->
  <!-- begin tab: Invite a Friend -->
  <h2 id="invitefriend">Invite a Friend</h2>
  <div class="tabbody form-page">
    <%= render partial: 'email_invite', locals: { email_invite: @view.email_invite } %>
  </div>
  <!-- end tab: Invite a Friend -->
</div>
<!-- end tabs -->
