<% if current_user.present? && !current_user.guest?  -%>
  <%= content_for :nav do %>
    <ul class="sidemenu">
      <li>
        <%= link_to "Following", following_friends_path %>
      </li>
      <li>
        <%= link_to "Followers", followers_friends_path %>
      </li>
      <li class="current">
        <%= link_to "Discover", new_friend_path %>
      </li>
    </ul>
  <% end -%>
<% else -%>
  <% unless current_user.present? && current_user.guest? -%>
    <%= content_for :logged_out_header_buttons do %>
      <li id="startlist">
        <%= link_to "Start Your List", quiz_path, class: "button bt-color" %>
      </li>
    <% end -%>
  <% end -%>
<% end -%>

<div id="findfriendsapp">
  <!-- sorting / key -->
  <div id="findfriendsmenu" class="clearfix">
    <ul class="clearfix menu">
      <li class="current first"><a href="#" id="mamajamasfriends">Mamajamas</a></li>
      <li><a href="#" id="facebookfriends">Facebook</a></li>
      <li class="<%= 'last' if current_user.blank? || current_user.guest? %>"><a href="#" id="gmailfriends">Gmail</a></li>
      <% if current_user.present? && !current_user.guest? -%>
        <li class="last"><a href="#" id="invitefriend">Invite a Friend</a></li>
      <% end -%>
    </ul>
    <div id="friendssearch" style="height: 26px;">
      <input type="text" placeholder="Search by first or last name">
      <input type="submit" value="Search">
    </div>
    <div id="findfriendsfilter" class="clearfix">
      <div class="friends-sort">Sort by:
        <!-- drop-down menu -->
        <div class="choicedrop"> <a href="#"><%= @view.sort_name %> <span class="ss-dropdown"></span></a>
          <ul style="display:none; width:7.5em;">
            <li><a href="#" data-sort="popular">Popularity</a></li>
            <li><a href="#" data-sort="name">Name</a></li>
            <li><a href="#" data-sort="recent">Last updated</a></li>
            <li><a href="#" data-sort="expert">Expert Lists</a></li>
          </ul>
        </div>
        <!-- /drop-down menu -->
      </div>
      <div class="friends-key"> <span class="ss-icon ss-target expert"></span> = Expert List </div>
    </div>
  </div>
  <div id="findfriends">
    <!-- Mamajamas friends tab -->
    <div id="mamajamasfriends-tab" style="display: block;">
      <ul class="clearfix friends-list findfriends-lists">
        <% @view.recommended_friends.each do |friend| -%>
          <%= render partial: 'list_friend', locals: { friend: friend, following: (current_user ? current_user.following?(friend) : false), follow_text: "Follow" } %>
        <% end -%>
      </ul>
    </div>
    <!-- end mamajamas friends tab -->
    <!-- facebook friends tab -->
    <div id="facebookfriends-tab" style="display: none;">
      <% if current_user.present? && current_user.facebook_connected? -%>
        <!-- Friends list (Facebook) -->
        <ul class="clearfix friends-list findfriends-lists">
          <% @view.mamajamas_facebook_friends.each do |friend| -%>
            <%= render partial: 'list_friend', locals: { friend: friend, following: current_user.following?(friend), follow_text: "Follow" } %>
          <% end -%>
          <%= render partial: 'invite', collection: @view.facebook_invites, locals: { prefix: "fb" } %>
        </ul>
      <% else  -%>
        <%= render 'prompt', provider: "Facebook", button_class: "bt-authfb" %>
      <% end -%>
    </div>
    <!-- end facebook friends tab -->
    <!-- gmail friends tab -->
    <div id="gmailfriends-tab" style="display: none;">
      <% if current_user.present? && current_user.google_connected? -%>
        <% if @view.mamajamas_google_friends.any? || @view.google_invites.any? -%>
          <!-- Friends list (Google) -->
          <ul class="clearfix friends-list findfriends-lists">
            <% @view.mamajamas_google_friends.each do |friend| -%>
              <%= render partial: 'list_friend', locals: { friend: friend, following: current_user.following?(friend), follow_text: "Follow" } %>
            <% end -%>
            <%= render partial: 'invite', collection: @view.google_invites, locals: { prefix: "google" } %>
          </ul>
        <% else -%>
          <div class="friends-progress google-friends-progress">
            <%= image_tag "loader.gif" %>
            <h3>downloading gmail contacts</h3>
          </div>
        <% end -%>
      <% else  -%>
        <%= render 'prompt', provider: "Gmail", button_class: "bt-authgoogle" %>
      <% end -%>
    </div>
    <!-- end gmail friends tab -->
    <!-- invite friends tab -->
    <% if current_user.present? && !current_user.guest? -%>
      <div id="invitefriends-tab" class="form-page" style="display: none;">
        <%= render partial: 'email_invite', locals: { email_invite: @view.email_invite } %>
      </div>
    <% end -%>
    <!-- end invite friends tab -->
  </div>
</div>
