<%= content_for :subheader_content do %>
  <p class="instruction">
  <strong>Before you save your list, why not tell folks a little more about yourself?</strong><br>
  Or, go <%= link_to "back", list_path %> to your list.
  </p>
<% end -%>
<%= content_for :nav do %>
  <div id="profile-photo">
    <%= image_tag @profile.profile_picture.profile %>
    <div class="progress-container">
      <a class="button bt-light" id="bt-upload">
        <span class="ss-upload"></span>Photo
      </a>
      <%= image_tag("progress-bar.gif", :class => "progress", :style => "display: none;") %>
    </div>
    <!-- instructions -->
    <p class="instruction">Upload a photo, or drag one into the box.</p>
  </div>
<% end -%>
<%= form_for @profile, url: profile_path, as: :profile, method: :put, html: { class: "label-infield", id: "frm-create-profile", multipart: true } do |f| %>
  <div id="profile-photo-file" style="display: none;">
    <h3>Profile Picture</h3>
    <fieldset>
      <%= f.file_field :profile_picture %>
      <%= f.hidden_field :profile_picture_cache %>
    </fieldset>
  </div>
  <h3>My Basics</h3>
  <dl class="clearfix">
    <fieldset>
      <!-- username -->
      <dt>URL name<strong class="required">*</strong></dt>
      <dd>
        <p>
          <%= f.label :username do %>
            <strong>[default url]</strong>
          <% end -%>
          <br />
          <%= f.text_field :username %>
          <%= field_error @profile, :username %>
        </p>
      </dd>
      <!-- URL -->
      <dt>URL<strong class="required">*</strong></dt>
      <dd class="pad">
        <p>www.mamajamas.com/<span class="list-url-suffix"><%= @profile.list_url %></span> <em class="light">(generated from your URL name)</em></p>
      </dd>
      <!-- list title -->
      <dt>List title<strong class="required">*</strong></dt>
      <dd>
        <p>
          <%= f.label :list_title do %>
            <strong><%= @profile.list_title %></strong> (click to edit)
          <% end -%>
          <br />
          <%= f.text_field :list_title %>
          <%= field_error @profile, :list_title %>
        </p>
      </dd>
    </fieldset>
  </dl>
  <h3>My Details</h3>
  <dl class="clearfix">
    <fieldset>
      <!-- name -->
      <dt>Name</dt>
      <dd class="half">
        <p>
          <%= f.label :first_name %>
          <br />
          <%= f.text_field :first_name %>
        </p>
      </dd>
      <dd class="half">
        <p>
          <%= f.label :last_name %>
          <br />
          <%= f.text_field :last_name %>
        </p>
      </dd>
    </fieldset>
    <fieldset>
      <!-- birthday -->
      <dt>My Birthday</dt>
      <dd class="half">
        <p>
          <label for="field-bdate">mm/dd/yy</label>
          <br />
          <%= f.text_field :birthday, id: "field-bdate", value: @profile.formatted_birthday %>
          <%= image_tag "icon_calendar@2x.png", class: "date-picker", alt: "calendar" %>
      </dd>
    </fieldset>
    <fieldset>
      <!-- more (comments) -->
      <dt>More</dt>
      <dd>
        <p>
          <%= f.label :notes, "For example, what do you love about being a mom?" %>
          <br />
          <%= f.text_area :notes, rows: 5 %>
        </p>
      </dd>
    </fieldset>
  </dl>
  <div class="button-row">
    <button type="submit" class="button bt-color" id="bt-save"><span class="ss-check"></span>Save and Preview</button>
  </div>
<% end %>
