<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "label-infield" }) do |f| %>
  <%= f.hidden_field :reset_password_token %>
  <h3>Change your password</h3>
  <p class="instruction">Please enter and confirm your new password.</p>
  <dl class="clearfix">
    <fieldset>
      <dt>Password<strong class="required">*</strong></dt>
      <dd>
        <p>
          <%= f.label :password, "New password" %>
          <br />
          <%= f.password_field :password %>
          <%= field_error resource, :password %>
        </p>
      </dd>
      <dt></dt>
      <dd>
        <p>
          <%= f.label :password_confirmation, "Confirm new password" %>
          <br />
          <%= f.password_field :password_confirmation %>
          <%= field_error resource, :password_confirmation %>
        </p>
      </dd>
    </fieldset>
  </dl>
  <div class="button-row">
    <button type="submit" class="button bt-color" id="bt-change-password">Update</button>
  </div>
<% end %>
