<div class="prod-thumb">
  <a target="_blank" href="{{affiliateLink listItem.link}}">
    <img src="{{assetPath listItem.image_url}}" alt="{{listItem.name}}">
  </a>
</div>
<div class="prod-desc clearfix">
  <div class="prod-cat-name-rating">
    <div class="prod-category">
      {{listItem.product_type_name}}
    </div>
    <h3>
      <a href="/list/list_items/{{listItem.id}}">{{listItem.name}}</a>
    </h3>
    {{addToMyListButton}}
    {{#if listItem.has_rating}}
      <div class="rating"> <em>My rating:</em>
      </div>
    {{/if}}
  </div>
  {{#ifNotLowPriority listItem}}
    <div class="prod-when-own">
      {{#if listItem.registry}}
        {{#if listItem.desired}}
          <div class="gift">
            <a class="bt-gift" href="/gifts/{{listItem.id}}/preview">
              <span>Gift this</span>
            </a>
            {{#if listItem.desired}}
              <span class="merchant {{listItem.vendor}}">{{listItem.vendor}}</span>
            {{/if}}
          </div>
        {{/if}}
      {{/if}}
      <div class="price">Price: <strong>{{listItem.price}}</strong></div>
      {{#if listItem.desired}}
        <div class="own">
          <ul>
            <li>
              <strong>{{listItem.desired_quantity}}</strong> Wanted
            </li>
            <li>
              <strong>{{listItem.owned_quantity}}</strong> Received
            </li>
        </div>
      {{else}}
        {{#if listItem.owned}}
          <div class="own">
            <ul>
              <li>
                <strong>{{listItem.owned_quantity}}</strong> Received
              </li>
            </ul>
          </div>
        {{/if}}
      {{/if}}
      <div class="when">
        When: <strong>{{listItem.age}}</strong>
      </div>
    </div>
  {{/ifNotLowPriority}}
  <div class="prod-note">
    {{#if listItem.notes}}
      <div class="prod-note-content expandable">
        <p><span class="ss-chat"></span> {{listItem.notes}}</p>
      </div>
    {{/if}}
  </div>
</div>
