<div class="prod-thumb">
  <img src="{{assetPath listItem.image_url}}" alt="{{listItem.name}}">
</div>
<div class="prod-desc clearfix">
  <div class="prod-category"> 
    {{listItem.product_type_name}}
  </div>
  <h3>
    <a href="{{listItem.link}}" target="_blank">{{listItem.name}}</a>
  </h3>
  {{addToMyListButton}}
  <div class="rating"> <em>My rating:</em>
  </div>
  <div class="prod-when-own">
    <div class="when">
      <a href="{{listItem.link}}" target="_blank">Buy</a> at {{listItem.age}}
    </div>
    <div class="own">
      {{publicHaveNeed listItem.owned}} {{listItem.quantity}} of these
    </div>
    <div class="gift"><a class="bt-gift" href="#"><span>Gift this to Angie</span></a></div>
  </div>
  <div class="prod-note">
    {{#if listItem.notes}}
      <div class="prod-note-content expandable">
        <p><span class="ss-chat"></span> {{listItem.notes}}</p>
      </div>
    {{/if}}
  </div>
</div>
