<div class="prod-thumb">
  <a target="_blank" href="{{affiliateLink listItem.link}}">
    <img src="{{assetPath listItem.image_url}}" alt="{{listItem.name}}">
  </a>
</div>
<div class="prod-desc clearfix">
  <div class="prod-cat-name-rating">
    <div class="prod-category">
      {{listItem.product_type_name}}
    </div>
    <h3>
      <a href="{{affiliateLink listItem.link}}" target="_blank">{{listItem.name}}</a>
    </h3>
    {{addToMyListButton}}
    {{#if listItem.owned}}
      <div class="rating"> <em>My rating:</em>
      </div>
    {{/if}}
  </div>
  {{#ifNotLowPriority listItem}}
    <div class="prod-when-own">
      <div class="price"> <strong>{{listItem.price}}</strong></div>
      {{#unless listItem.owned}}
        <div class="gift">
          <a class="bt-gift" href="/gifts/{{listItem.id}}/new">
            <span>Gift this to {{listItem.ownerName}}</span>
          </a>
        </div>
      {{/unless}}
      <div class="when">
        {{buyLink listItem}}
      </div>
      <div class="own">
        <strong>Wants</strong> {{listItem.desired_quantity}} of these
      </div>
    </div>
  {{/ifNotLowPriority}}
  <div class="prod-note">
    {{#if listItem.notes}}
      <div class="prod-note-content expandable">
        <p><span class="ss-chat"></span> {{listItem.notes}}</p>
      </div>
    {{/if}}
  </div>
</div>
