<% if Rails.env.development? %>
  <a class="bookmarklet-link" style="display: none" href="javascript:(function(){if(window.mamajamas)mamajamas.show();else{var a=document.createElement('script');a.setAttribute('id','mamajamasBookmarkletS'),a.setAttribute('src','//<%= request.host_with_port %><%= asset_path('b/mjsb.js') %>'),a.setAttribute('data-host','<%= request.host_with_port %>'),document.body.appendChild(a)}}())">Bookmarklet</a>
<% else -%>
  <a class="bookmarklet-link" style="display: none" href="javascript:(function(){if(window.mamajamas)mamajamas.show();else{var a=document.createElement('script');a.setAttribute('id','mamajamasBookmarkletS'),a.setAttribute('src','<%= asset_path('b/mjsb.js') %>'),a.setAttribute('data-host','<%= request.host_with_port %>'),document.body.appendChild(a)}}())">Bookmarklet</a>
<% end -%>
