<% content_for :nav do -%>
  <h2>Need help setting up your nursery?</h2>
  <h3>
    <a id="start-quiz" href="/quiz"><strong>Take the quiz</strong> and get started!</a>
    <%= button_to 'Get Started', user_registration_path, method: :post, style: "display:none;" %>
  </h3>
<% end -%>
<% content_for :tertiary do -%>
  <ul>
    <li>Get a personalized list of baby gear</li>
    <li>Customize your list</li>
    <li>Share it with friends (if you want) </li>
  </ul>
<% end -%>
<p>With so much on your mind right now, who has time to figure out exactly what you will need for the new baby? Mamajamas offers a super-easy way for you to build a personalized, prioritized list of baby gear.</p>
<p>No more spreadsheets or sifting through epic emails from mom friends! Let us help you figure out exactly what items you need, then customize your list with help from other moms you trust.</p>
<ul class="screenshots gallery">
  <li>
    <%= link_to asset_path("home-screenshot1_quiz.jpg") do %>
      <%= image_tag "home-screenshot1_quiz_s.jpg", alt: "Mamajamas preview: Quiz", title: "Mamajamas preview: Quiz" %>
    <% end -%>
  </a>
  </li>
  <li>
    <%= link_to asset_path("home-screenshot2_build-list.jpg") do %>
      <%= image_tag "home-screenshot2_build-list_s.jpg", alt: "Mamajamas preview: Baby gear list", title: "Mamajamas preview: Baby gear list" %>
    <% end -%>
  </li>
  <li>
    <%= link_to asset_path("home-screenshot3_shared-list.jpg") do %>
      <%= image_tag "home-screenshot3_shared-list_s.jpg", alt: "Mamajamas preview: Public shared list", title: "Mamajamas preview: Public shared list" %>
    <% end -%>
  </li>
</ul>
