<% content_for :mobileSearch do -%>
  <div id="mobile-friends-search">
    <%= form_tag new_friend_path, class: "mobile-search-form", method: :post do %>
      <input type="text" name="query" placeholder="Find" class="mobile-menu-search-input">
      <label class="floating-label"><i class="fa fa-search"></i></label>
      <input type="submit" value="Search" class="submit-btn" />
    <% end %>
  </div>
<% end -%>

<% content_for :search do -%>
  <div id="friendssearch">
    <%= form_tag new_friend_path, method: :post do %>
      <input type="text" name="query" placeholder="Find a registry (by first or last name)">
      <input type="submit" value="Search">
    <% end %>
  </div>
<% end -%>

<% content_for :feature do -%>
  <div id="feature">
    <a href="#" id="learn-more">
      <span class="ss-icon ss-navigatedown"></span>
    </a>
  </div>
<% end -%>
<% content_for :nav do -%>
  <h1>
    <strong>It’s your baby registry.</strong> <span>Made simple.<span> <em>(and social!)</em>
  </h1>

  <ul>
    <li>
      <a href="/users/signup" id="create-registry" class="button">Create your registry now</a>
    </li>
    <li class="option">
      <%= link_to new_friend_path, id: "browse-registries" do -%>
        <i class="fa fa-caret-right"></i> Or, browse registries first
      <% end -%>
    </li>
  </ul>
<% end -%>
<% content_for :tertiary_override do -%>
  <div class="content clearfix">
    <div class="col">
      <p>
        <%= image_tag "angie-dario2015.jpg", alt: "about mamajamas", size: "180x270" %>
      </p>
      <p class="center"><a href="/angie" class="button">Visit Angie’s registry</a></p>
    </div>
    <div class="col">
      <h2>The Mamajamas birth story</h2>
      <div class="mobile-image">
      </div>
      <p>The idea for Mamajamas was born out of my own experience as an expecting mom.</p>
      <p>Four years ago, I was overwhelmed trying to figure out what I needed for the birth of my son. How could I help my family and friends buy us things when I didn't even know what I needed myself? I spent hours researching products online and emailing mom friends asking for advice.</p>
      <p>I realized there needed to be an easier way for expecting parents to build their registries and get gear recommendations. I wanted to find like-minded parents and find out what worked for them (and what didn’t!).</p>
      <p>For ideas, you can start by checking out my registry here: <a href="http://www.mamajamas.com/angie">www.mamajamas.com/angie</a></p>
      <p>The goal of Mamajamas is to take all of the guesswork out of building your baby registry. I want you to spend less time thinking about stuff and more time enjoying pregnancy and parenthood.</p>
      <p>Congratulations and welcome!</p>
      <p class="ltr-closing">
        <%= image_tag "angie-schiavoni_sig.png", alt: "Angie Schiavoni", size: "168x64" %>
        <br>
        <em>Angie Schiavoni, Founder</em></p>
    </div>
  </div>
  <div id="bt-promo" class="center">
    <a href="/users/signup" id="create-registry-cta" class="button bt-color">Create your registry now</a>
    <a href="/angie" class="button show-mobile">Visit Angie’s registry</a>
  </div>
<% end -%>
<% content_for :footer do -%>
  <div class="testimonial">
    <%= image_tag "arian.jpg", alt: "Arian Hushyar" %>
  </div>
  <p>“I was planning to build out my list in Google Docs and<br>
    share it with friends as they become pregnant, but I'm so happy
    Mamajamas has an amazing product like this instead.” <br>
    <em>Arian Hushyar</em></p>
<% end -%>
<ul class="clearfix">
  <li>
    <p><strong><em class="fa fa-certificate"></em></strong> <em>Get baby gear recommendations.</em> Use our engine to receive a list of recommended gear for your registry. Choose the things you need, delete the ones you don't.</p>
  </li>
  <li>
    <p><strong><em class="fa fa-bookmark"></em></strong> <em>Add products to your registry from any web store.</em> Use our browser bookmark to easily add products from any website.</p>
  </li>
  <li>
    <p><strong><em class="fa fa-users"></em></strong> <em>Get ideas from other parents.</em> Browse other people’s registries for inspiration.</p>
  </li>
  <li>
    <p><strong><em class="fa fa-envelope"></em></strong> <em>Share your registry with family and friends. </em> Send your registry to family and friends so they’ll know what you really need!</p>
  </li>
  <li class="last">
    <p><strong><em class="fa fa-star-half-empty"></em></strong> <em>Use your registry to help friends who are expecting.</em> Review the gear you’ve tried and tested to help your friends build their registries.</p>
  </li>
</ul>
