<% content_for :search do -%>
  <div id="friendssearch">
    <%= form_tag new_friend_path, method: :post do %>
      <input type="text" name="query" placeholder="Find a registry (by first or last name)">
      <input type="submit" value="Search">
    <% end %>
  </div>
<% end -%>
<% content_for :feature do -%>
  <div id="feature">
    <a class="sq-button" href="#" id="learn-more">
      <span class="ss-icon ss-navigatedown"></span>Learn more
    </a>
  </div>
<% end -%>
<% content_for :nav do -%>
  <h1>
    <strong>It’s your baby registry.</strong> Made Simple. <em>(and social!)</em>
  </h1>
  <ul>
    <li>
      <a href="/registry" id="create-registry" class="button">Create your registry</a>
    </li>
    <li class="option">
      <%= link_to new_friend_path, id: "browse-registries" do -%>
        <i class="fa fa-caret-right"></i> Or, browse registries
      <% end -%>
    </li>
  </ul>
<% end -%>
<% content_for :tertiary do -%>
  <%= image_tag "about-mamajamas.jpg", alt: "about mamajamas", size: "196x294", class: "float-l" %>
  <p>The idea for Mamajamas was born out of my own experience as an expecting mom four years ago.</p>
  <p>I was overwhelmed by the process of figuring out what I needed to prepare for the birth of my son. I also wondered how I could help friends and family get me things I’d need for the baby, when I didn’t even know myself! I spent hours researching products online and emailing mom friends asking for advice. </p>
  <p>I started thinking that there should be an easier way for expecting parents to build their registries and get baby gear recommendations. I wanted someone to tell me what I would need (and wouldn’t!) based on how I was planning to parent, and I wanted an easy way to get recommendations from my new parent friends.</p>
  <p>The goal of Mamajamas is to take all of the guesswork out of building your baby registry. I want you to be able to spend less time thinking about stuff, and more time enjoying pregnancy and new parenthood.</p>
  <p>I hope your Mamajamas baby registry is helpful to you during this exciting time!</p>
  <p class="ltr-closing">
    <%= image_tag "angie-schiavoni_sig.png", alt: "Angie Schiavoni", size: "168x64" %>
    <br>
    <em>Angie Schiavoni, Founder</em>
  </p>
<% end -%>
<% content_for :footer do -%>
  <div class="testimonial">
    <%= image_tag "arian.jpg", alt: "Arian Hushyar" %>
  </div>
  <p>“I was planning to build out my list in Google Docs and share it with friends as they become pregnant, but I'm so happy you have an amazing product like this instead.” <br>
    <em>Arian Hushyar</em></p>
  </div>
<% end -%>
<ul class="clearfix">
  <li>
    <p>
      <strong><em>1</em></strong> <em>Discover.</em> We’ll tell you what we think you’ll need (and won’t need!) for your registry, based on your preferences.
    </p>
  </li>
  <li>
    <p><strong><em>2</em></strong> <em>Create.</em> Build your registry with help from other parents and products from anywhere on the Web.
    </p>
  </li>
  <li class="last">
    <p><strong><em>3</em></strong> <em>Share.</em> Easily share your registry with family and friends.
    </p>
  </li>
</ul>
