<div class="nestedwin giftingwin clearfix">
  <h2>
    <%= @owner.possessive_full_name %> Baby Registry
  </h2>

  <!-- help video link -->
  <div id="giftinghelp">
    <p class="center collapsible coll-closed">Need help? Watch now: <em><i class="fa fa-lg fa-play-circle-o"></i> How to Gift</em></p>
    <div class="collapsible-content" style="display: none;">
      <!-- video embed ***** -->
      <iframe src="//player.vimeo.com/video/117741451?color=874789" width="500" height="305" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <!-- / video embed ***** -->
      <a href="#" class="close" id="close-coll" title="close panel"><span>Close</span></a>
    </div>
  </div>

  <h3 class="icon">Give <%= @owner.display_first_name_or_username %> a Gift</h3>

  <!-- product -->
  <div id="" class="prod clearfix">
    <div class="prod-thumb">
      <%= image_tag @list_item.image_url, alt: @list_item.name %>
    </div>
    <div class="prod-cat-name-rating">
      <div class="prod-category">
        <%= @list_item.product_type_name %>
      </div>
      <h3>
        <%= link_to @list_item.name, @list_item.link, target: "_blank" %>
      </h3>
      <div class="prod-when-own">
        <% if @list_item.price.present? -%>
          <div class="price"> <strong><%= @list_item.price %></strong></div>
        <% end -%>
        <div class="own">
          <% if @list_item.desired? -%>
            <strong>Wants</strong> <%= @list_item.desired_quantity %> of these
          <% end -%>
        </div>
      </div>

      <div class="center threecol">
        <%= link_to new_gift_path(@list_item.id, shipto: "me"), class: "button bt-color" do -%>
          <strong>Buy online</strong><br>
          and ship to<br>
          me
        <% end -%>
        <%= link_to new_gift_path(@list_item.id), class: "button bt-color" do -%>
        <strong>Buy online</strong><br>
          and ship to<br>
          <%= @owner.display_full_name_with_coregistrant %>
        <% end -%>
        <%= link_to new_gift_path(@list_item.id, shipto: "none"), class: "button bt-color" do -%>
        <strong>Just reserve it</strong><br>
          (I'll buy it elsewhere)
        <% end -%>
      </div>
    </div>
  </div>
  <!-- /product -->


  <div class="button-row clearfix">
    <%= link_to "Cancel", :back, class: "button", id: "bt-cancel" -%>
  </div>
</div>
