<div class="prod-thumb">
  <img src="{{image_url}}" alt="{{name}}">
</div>
<div class="prod-desc clearfix"> 
  <div class="prod-cat-name-rating">
    <div class="prod-category"> {{product_type_name}} </div>
    <h3>
      <a href="{{link}}" target="_blank" title="View on Amazon.com">{{name}}</a>
    </h3>
    <!-- add to my list button --> 
    <a title="Add to my registry" class="button bt-color bt-add" href="#">
      <span class="ss-plus"></span><strong>Add to Registry</strong>
    </a> 
    <!-- / end add to my list button -->
    <div class="rating"> 
    </div>
  </div>
  <!-- end product category, name, rating --> 
  <!-- when to buy, need vs. have -->
  <div class="prod-when-own">
    <div class="price"> <strong>{{price}}</strong></div>
    <div class="when"> Buy at {{age_range}} </div>
  </div>
  <!-- end when to buy, need vs. have --> 
  
  <!-- end product description --> 
</div>