<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :id => "login-form", :class => "label-infield" }) do |f| %>
  <% if devise_mapping.rememberable? -%>
    <%= f.hidden_field :remember_me, :value => true %>
  <% end -%>
  <!-- modal window close button -->
  <a href="#" class="bt-close ss-icon">Close</a>
  <!-- modal window header -->
  <h2>Log in</h2>
  <!-- modal window content -->
  <div class="content">
    <p></p>
    <p class="center"><a class="button" id="bt-fb-connect"><span>Login with Facebook</span></a></p>
    <p class="center instruction">We value your privacy, and we’ll<br> never post anything without your express permission.</p>
    <div class="progress-container">
      <%= image_tag("progress-bar.gif", :class => "progress", :style => "display: none;") %>
    </div>
    <p id="login-collapsible" class="collapsible center ss-directright"><strong>Or, enter your Mamajamas username and password below:</strong></p>
    <div class="collapsible-content" style="display: none;">
      <% unless resource.errors.empty? -%>
        <p class="instruction error">
        <%= resource.errors.full_messages.to_sentence %>
        </p>
      <% end -%>
      <fieldset>
        <p>
        <%= f.label :login, "Email address" %>
        <br />
        <%= f.text_field :login %>
        </p>
        <p>
        <%= f.label :login_password, "Password" %>
        <br />
        <%= f.password_field :password, :id => "user_login_password" %>
        </p>
      </fieldset>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
        <p class="helper"><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
      <% end -%>
      <!-- window bottom buttons -->
      <div class="button-row">
        <button type="reset" class="button" id="bt-cancel">Cancel</button>
        <button type="submit" class="button" id="bt-log-in">Log in</button>
      </div>
    </div>
  </div>
  <!-- end modal window content -->
<% end %>
