<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :id => "login-form", :class => "label-infield" }) do |f| %>
  <% if devise_mapping.rememberable? -%>
    <%= f.hidden_field :remember_me, :value => true %>
  <% end -%>
  <!-- modal window close button -->
  <a href="#" class="bt-close ss-icon">Close</a>
  <!-- modal window header -->
  <h2>Log in</h2>
  <!-- modal window content -->
  <div class="content">
    <p></p>
    <p class="center"><a class="button" id="bt-fb-connect"><span>Login with Facebook</span></a></p>
    <p class="instruction">We will never post anything without your express permission.</p>
    <p class="divider"><strong>or</strong></p>
    <p class="instruction<%= " error" unless resource.errors.empty? %>">
      <% if resource.errors.empty? -%>
        Please enter your Mamajamas email address and password below:
      <% else -%>
        <%= resource.errors.full_messages.to_sentence %>
      <% end -%>
    </p>
    <fieldset>
      <p>
      <%= f.label :login, "Email address" %>
      <br />
      <%= f.text_field :login %>
      </p>
      <p>
      <%= f.label :login_password, "Password" %>
      <br />
      <%= f.password_field :password, :id => "user_login_password" %>
      </p>
    </fieldset>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
      <p class="helper"><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
    <% end -%>
  </div>
  <!-- end modal window content --> 
  <!-- window bottom buttons -->
  <div class="button-row">
    <div class="progress-container">
      <button type="reset" class="button" id="bt-cancel">Cancel</button>
      <button type="submit" class="button" id="bt-log-in">Log in</button>
      <%= image_tag("progress-bar.gif", :class => "progress", :style => "display: none;") %>
    </div>
  </div>
<% end %>
