<!-- modal window close button -->
<a href="#" class="bt-close ss-icon">Close</a>
<!-- modal window content -->
<div class="content">
  <form class="label-infield" id="frm-zip">
    <!-- question q08-01 ***** -->
    <div id="q08-01" class="q-question">
      My zip code is:
      <fieldset>
        <p>
          <label for="zip_code">Enter zip code</label>
          <br />
          <input name="zip_code" type="text" id="zip_code" value="{{zip_code}}">
        </p>
      </fieldset>
    </div>
    <!-- / question q08-01 ***** -->
    <!-- question q02-02 ***** -->
    <div id="q08-02" class="q-question">
      <input name="country" type="hidden" id="country" value="{{country}}">
      Country:
      <!-- drop-down menu -->
      <div class="choicedrop">
        <a href="#" id="country-select">
          <span id="country-select-desc">{{country_name}}</span>
          <span class="ss-dropdown"></span>
        </a>
        <ol style="display:none;">
          {{#each countries}}
            <li>
              <a class="country-name" data-country-code="{{this.[1]}}" href="#">
                {{this.[0]}}
              </a>
            </li>
          {{/each}}
        </ol>
      </div>
      <!-- end drop-down menu -->
    </div>
    <a href="#" class="button" id="bt-build">Build My List</a>
    <!-- / question q02-02 ***** -->
  </form>
</div>
<!-- end modal window content -->
<div class="button-row clearfix">
  <!-- instructions -->
  <p><a href="#" class="skip">Skip this</a> and build my list.</p>
  <!-- previous and next buttons -->
  <div class="col50 float-l left">
    <a href="#" class="button" id="bt-prev"><span class="ss-navigateleft"></span>Previous</a>
  </div>
</div>
<!-- quiz progress bar -->
<div id="q-progress" title="Step 8 of 8">
  <div class="bar"></div>
</div>
<!-- end quiz progress bar -->
