<tr class="prod prod-filled">
  <td class="own">
    <%= check_box_tag "owned_#{list_item.id}", "1", list_item.owned?, class: 'owned-cb' %>
    <%= label_tag "owned_#{list_item.id}", "I own this item." %>
  </td>
  <td class="item">
    <div class="prod-thumb">
      <%= image_tag list_item.image_url, alt: list_item.name %>
    </div>
    <div class="prod-desc">
      <div class="prod-category"><%= list_item.product_type_name %></div>
      <h3>
        <%= link_to list_item.name, list_item.link, target: "_blank" %>
      </h3>
      <% unless list_item.notes.empty? -%>
        <div class="prod-note closed">
          <div class="note-content"><%= h list_item.notes %></div>
        </div>
      <% end -%>
    </div>
  </td>
  <td class="rating">
    <% rating = list_item.rating || 0 -%>
    <div class="eggs">
      <div class="egg <%= "egg-full" if rating > 0 %>"></div>
      <div class="egg <%= "egg-full" if rating > 1 %>"></div>
      <div class="egg <%= "egg-full" if rating > 2 %>"></div>
      <div class="egg <%= "egg-full" if rating > 3 %>"></div>
      <div class="egg <%= "egg-full" if rating > 4 %>"></div>
    </div>
  </td>
  <td class="when"><%= list_item.age %></td>
  <td class="priority">
    <% if list_item.priority == 1 -%>
      <div class="priority-display priority-high" title="Get it">
        list_item.priority
      </div>
    <% elsif list_item.priority == 2 -%>
      <div class="priority-display priority-med" title="Consider it">
        list_item.priority
      </div>
    <% else -%>
      <div class="priority-display priority-low" title="Don't bother">
        list_item.priority
      </div>
    <% end -%>
  </td>
</tr>
