<div class="prod prod-filled clearfix" id="<%= list_item.id %>">
  <div class="prod-thumb">
    <%= link_to list_item.link, target: "_blank" do %>
      <%= image_tag list_item.image_url, alt: list_item.name %>
    <% end -%>
  </div>
  <div class="prod-desc clearfix">
    <div class="prod-cat-name-rating">
      <div class="prod-category"> <%= list_item.product_type_name %> </div>
      <h3>
        <% if public_view -%>
          <%= link_to list_item.name, list_list_item_path(list_item) %>
        <% else -%>
          <%= link_to list_item.name, list_item.link, target: "_blank" %>
        <% end -%>
      </h3>
      <% if user_has_list? -%>
        <a href="/list/all" target="_blank" class="button bt-color bt-add" title="Add to my registry"><span class="ss-plus"></span><strong>Add</strong></a>
      <% end -%>
      <% if list_item.has_rating? -%>
        <div class="rating"> <em>My rating:</em>
          <% rating = list_item.rating || 0 -%>
          <div class="stars">
            <div class="egg <%= "egg-full" if rating > 0 %>"></div>
            <div class="egg <%= "egg-full" if rating > 1 %>"></div>
            <div class="egg <%= "egg-full" if rating > 2 %>"></div>
            <div class="egg <%= "egg-full" if rating > 3 %>"></div>
            <div class="egg <%= "egg-full" if rating > 4 %>"></div>
          </div>
        </div>
      <% end -%>
    </div>
    <div class="prod-when-own">
      <% if registry %>
        <% unless list_item.owned? -%>
          <div class="gift">
            <%= link_to new_gift_path(list_item.id), class: "bt-gift" do %>
              <span>Gift this</span>
            <% end -%>
            <% if list_item.desired? %>
              <span class="merchant <%= list_item.vendor %>"><%= list_item.vendor %>
            <% end -%>
          </div>
        <% end -%>
      <% end -%>
      <% if list_item.price.present? -%>
        <div class="price">Price: <strong><%= list_item.price %></strong></div>
      <% end -%>
      <% if list_item.desired? -%>
        <div class="own">
          <ul>
            <li>
              <strong><%= list_item.desired_quantity %></strong> Wanted
            </li>
            <li>
              <strong><%= list_item.owned_quantity %></strong> Received
            </li>
          </ul>
        </div>
      <% elsif list_item.owned? -%>
        <div class="own">
          <ul>
            <li>
              <strong><%= list_item.owned_quantity %></strong> Received
            </li>
          </ul>
        </div>
      <% end -%>
      <div class="when">
        When: <strong><%= list_item.age %></strong>
      </div>
    </div>
    <div class="prod-note">
      <% if list_item.notes.present? -%>
        <div class="prod-note-content expandable">
          <p><span class="ss-chat"></span> <%= h list_item.notes %></p>
        </div>
      <% end -%>
    </div>
  </div>
</div>
