<%= content_for :nav do %>
  <% cache [ @view.list, @view.category_slug, 'unauthed_categories' ] do -%>
    <nav id="categories">
      <ul>
        <li class="<%= "cat-selected" if @view.all_category? %>">
          <%= link_to "All", @view.public_all_items_path %>
        </li>
        <% @view.all_categories.each do |category| -%>
        <li class="<%= "cat-selected" if !@view.category.blank? && category.id == @view.category.id %>">
          <%= link_to category.name, @view.public_category_path(category.slug) %>
        </li>
        <% end -%>
      </ul>
    </nav>
  <% end -%>
<% end -%>
<!-- modal window box -->
<div id="private-modal" class="modal-win">
  <!-- modal window header -->
  <h2>Private List</h2>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :id => "private-list-login-form", :class => "login-form label-infield" }) do |f| %>
    <!-- modal window content -->
    <div class="content">
      <p class="intro center larger">You must be logged-in to Mamajamas to see Jane’s list.</p>        
      <% if devise_mapping.rememberable? -%>
        <%= f.hidden_field :remember_me, :value => true %>
      <% end -%>
      <p class="center"><a id="bt-fb-connect" class="button"> <span>Login with Facebook</span> </a></p>
      <div class="progress-container">
        <%= image_tag("progress-bar.gif", :class => "progress", :style => "display: none;") %>
      </div>
      <p class="collapsible center ss-directright"><strong>Or, enter your Mamajamas username and password below:</strong>
      </p>
      <div class="collapsible-content" style="display: none;">
        <% unless resource.errors.empty? -%>
          <p class="instruction error">
            <%= resource.errors.full_messages.to_sentence %>
          </p>
        <% end -%>
        <fieldset>
          <p>
            <%= f.label :login, "Email address" %>
            <br />
            <%= f.text_field :login %>
          </p>
          <p>
            <%= f.label :login_password, "Password" %>
            <br />
            <%= f.password_field :password, :id => "user_login_password" %>
          </p>
        </fieldset>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
          <p class="helper"><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
        <% end -%>
        <!-- window bottom buttons -->
        <div class="button-row">
          <div class="progress-container">
            <button id="bt-log-in" class="button" type="submit">Continue</button>
	  </div>
        </div>
      </div><!-- end collapsible content -->	
      <p class="center footnote">Not signed up yet?
        <%= link_to "Sign up here", quiz_path %>
      </p>
    </div>
    <!-- end modal window content -->
  <% end -%>
</div>
<!-- end modal window box --> 
