<%= content_for :logged_out_header_buttons do %>
  <li id="startlist">
    <%= link_to "Start Your Registry", quiz_path, class: "button bt-color" %>
  </li>
<% end -%>
<div id="listwrap" class="publist clearfix">
  <div id="title">
    <div id="subhed">
      <h2>
        <%= @view.list.title -%>
      </h2>
    </div>
    <div id="title-links">
      <ul class="iconrow">
        <li id="details-link">
          <a href="#" class="icon-link"><span class="ss-icon ss-info"></span>Details</a>
        </li>
        <li id="social-links" class="nav-drop-trigger">
          <a href="#" class="nav-drop-link">
            <span class="ss-icon ss-redirect"></span>Share Registry
          </a>
          <ul class="nav-drop">
            <li>
              <a href="#" class="ss-icon ss-email bt-email" title="Email">Email</a>
            </li>
            <li>
              <a class="ss-icon ss-social-circle" title="Pinterest" href="<%= pinterest_pin_url(media: "http://mamajamas.s3.amazonaws.com/assets/mamajamas_bird_large.png", description: "Check out my list of baby gear on Mamajamas.", url: @view.public_url) %>"
                 data-pin-do="buttonPin"
                 data-pin-config="none">
                Pinterest
              </a>
            </li>
            <li>
              <a href="<%= tweet_url(text: "Check out my list of baby gear on Mamajamas.", via: "mamajamasmom", url: @view.public_url) %>" class="ss-icon ss-social-circle" title="Twitter" target="_blank">Twitter</a>
            </li>
            <li>
              <a href="#" class="ss-icon ss-social-circle" title="Facebook">Facebook</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="listdetails" style="display: none;">
    <ul>
      <li>
        <em>
          <i class="fa fa-user"></i> Registrant(s):
        </em> <%= @view.owner.full_name %><br/>
        <% if @view.owner.partner_full_name %>
          <%= @view.owner.partner_full_name %>
        <% end -%>
      </li>
      <li>
        <em>
          <i class="fa fa-list-ul"></i> Created:
        </em> <%= @view.created_at %>
      </li>
      <li>
        <em>
          <i class="fa fa-refresh"></i> Updated:
        </em> <%= t @view.updated_at %>
      </li>
      <li>
        <em>
          <i class="fa fa-calendar-o"></i> Baby due:
        </em> <%= @view.owner.due_date %>
      </li>
      <li>
        <em>
          <i class="fa fa-truck"></i> Shipping:
        </em> <%= simple_format(@view.owner.full_shipping_address) %>
      </li>
      <li>
        <em>
          <i class="fa fa-envelope"></i> Email:
        </em> <%= @view.owner.email %></li>
    </ul>
    <div class="arrow"><span></span></div>
  </div>
  <div id="primary">
    <div class="content">
      <% cache [ @view.list, @view.category_slug, 'public_categories' ] do -%>
        <nav id="categories">
          <ul>
            <li class="<%= "cat-selected" if @view.all_category? %>">
              <%= link_to "All", @view.public_all_items_path %>
            </li>
            <% @view.categories.each do |category| -%>
              <li class="<%= "cat-selected" if !@view.category.blank? && category.id == @view.category.id %>">
                <%= link_to category.name, @view.public_category_path(category.slug) %>
              </li>
            <% end -%>
          </ul>
        </nav>
      <% end -%>
    </div>
  </div>
  <div id="secondary">
    <div class="content">
      <!-- notification ***** -->
      <div id="notifications"><%= notifications %></div>
      <% cache [ @view.list, @view.category_slug, 'public_list' ] do -%>
        <form id="public-list" class="label-infield" data-list-entries="<%= @list_entries_json %>">
          <div id="listcontrols" class="clearfix">
            <div class="listhed">
              <h3><%= @view.category_name %></h3>
            </div>
            <div class="listsort">Sort by:
              <div class="choicedrop list-sort"> <a href="#">When to buy <span class="ss-dropdown"></span></a>
                <ol style="display:none; width:7.5em;">
                  <li><a href="#age" data-sort="age">When to buy</a></li>
                  <li><a href="#name" data-sort="name">Name (A - Z)</a></li>
                  <li><a href="#rating" data-sort="rating">Rating</a></li>
                </ol>
              </div>
            </div>
            <div class="listsort">Filter by Age:
              <!-- drop-down menu -->
              <div class="choicedrop list-age-filter"> <a href="#">All ages <span class="ss-dropdown"></span></a>
                <ul style="display:none; width:7.5em;">
                  <li><a href="#">All ages</a></li>
                  <li><a href="#">Pre-birth</a></li>
                  <li><a href="#">0-3 mo</a></li>
                  <li><a href="#">4-6 mo</a></li>
                  <li><a href="#">7-12 mo</a></li>
                  <li><a href="#">13-18 mo</a></li>
                  <li><a href="#">19-24 mo</a></li>
                  <li><a href="#">2y</a></li>
                  <li><a href="#">3y</a></li>
                  <li><a href="#">4y</a></li>
                  <li><a href="#">5y+</a></li>
                </ul>
              </div>
              <!-- /drop-down menu -->
            </div>
          </div>
          <div class="clearfix">
            <% if @view.list_entries_by_priority(1).size > 0 -%>
              <h4 id="priority-high-hed" class="priority priority-high collapsible"><strong>Must-Have</strong></h4>
              <div class="priority-high collapsible-content">
                <%= render partial: "list_item", locals: { owner_name: @view.owner.display_first_name_or_username }, collection: @view.list_entries_by_priority(1) %>
              </div>
            <% end -%>
            <% if @view.list_entries_by_priority(2).size > 0 -%>
              <h4 id="priority-med-hed" class="priority collapsible"><strong>Consider</strong></h4>
              <div class="priority-med collapsible-content">
                <%= render partial: "list_item", locals: { owner_name: @view.owner.display_first_name_or_username }, collection: @view.list_entries_by_priority(2) %>
              </div>
            <% end -%>
            <% if @view.list_entries_by_priority(3).size > 0 -%>
              <h4 id="priority-low-hed" class="priority collapsible ss-directright"><strong>Don’t Bother</strong></h4>
              <div class="priority-low collapsible-content">
                <%= render partial: "list_item", locals: { owner_name: @view.owner.display_first_name_or_username }, collection: @view.list_entries_by_priority(3) %>
              </div>
            <% end -%>
          </div>
        </form>
        <script type="text/javascript">
         Mamajamas.Context.List = new Mamajamas.Models.List({
           id: <%= @view.list.id %>,
           title: '<%= @view.list.title %>',
           owner_id: <%= @view.list.user.id %>,
           owner_name: '<%= @view.owner.display_first_name_or_username %>',
           <% if @view.category.present? -%>
           category_id: '<%= @view.category.id %>',
           category: '<%= @view.category.slug %>',
           <% end -%>
           current_position: 0
         })
        </script>
      <% end -%>
    </div>
  </div>
</div>
<div id="tertiary" class="light">
  <div class="content">
    <div id="module-profile">
      <div class="content">
        <p id="sharedby"><span></span>Profile</p>
        <h3><%= @view.owner.display_name %></h3>
        <div id="profile-photo">
          <%= image_tag @view.owner.profile_picture.public_list, alt: "#{@view.owner.username} profile photo" %>
        </div>
        <% unless @view.owner == current_user -%>
          <div class="center follow">
            <% if @view.following? -%>
              <a href="#" id="bt-follow" class="button bt-color bt-active" data-owner-id="<%= @view.owner.id %>" data-relationship-id="<%= @view.following?.id %>">
                <span class="bt-text1">
                  <span class="ss-check"></span>Following
                </span>
                <em class="bt-text2"><span class="ss-delete"></span>Unfollow</em>
              </a>
            <% else -%>
              <a href="#" id="bt-follow" class="button bt-color" data-owner-name="<%= @view.owner.full_name %>" data-owner-id="<%= @view.owner.id %>">
                <span class="ss-check"></span>Follow
              </a>
            <% end -%>
          </div>
        <% end -%>
        <% if @view.owner.age.present? -%>
          <p>Age <%= @view.owner.age %><br></p>
        <% end -%>
        <div class="module-notes">
          <% if @view.owner.notes.present? -%>
            <div class="expandable">
              <p><%= h @view.owner.notes  %></p>
            </div>
          <% end -%>
        </div>
      </div>
    </div>
    <% if @view.owner.followed_users_with_shared_lists.any? -%>
      <div id="module-friends">
        <div class="content">
          <h3><%= @view.owner.display_first_name_or_username %> is Following:</h3>
          <ul class="clearfix">
            <%= render partial: "friends/sidebar_friend", collection: @view.owner.followed_users_with_shared_lists, locals: { show_names: false } %>
          </ul>
          <% if @view.owner.followed_users_with_shared_lists.size > 12 -%>
            <div class="border"><a href="#" class="show-all-friends">Show all</a></div>
          <% end -%>
        </div>
      </div>
    <% end -%>
  </div>
</div>
<!-- share by email win -->
<div id="email-modal" class="modal-win form-page">
  <h2>Share Registry</h2>
  <div class="content">
    <%= form_for @view.email_invite, url: invites_path, html: { class: "label-infield create-email-form", id: "frm-create-email-invite" } do |f| %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :list_id %>
      <%= f.hidden_field :provider %>
      <%= f.hidden_field :name %>
      <dl class="clearfix">
        <dt></dt>
        <dd>
          <p class="intro">Share this baby registry with friends and family.</p>
        </dd>
        <fieldset>
          <!-- row -->
          <dt>To<strong class="required">*</strong></dt>
          <dd>
            <p>
              <%= f.label :email, "Email (required)" %>
              <br>
              <%= f.text_field :email %>
            </p>
          </dd>
          <!-- row -->
          <dt>From</dt>
          <dd>
            <p>
              <%= f.label :from, "Your name" %>
              <br>
              <%= f.text_field :from %>
            </p>
          </dd>
        </fieldset>
        <!-- row -->
        <fieldset>
          <dt>Subject</dt>
          <dd>
            <p>
              <%= f.label :subject, "Subject" %>
              <br>
              <%= f.text_field :subject, value: "Check out this baby registry at Mamajamas.com" %>
            </p>
          </dd>
          <!-- row -->
          <dt>Message</dt>
          <dd>
            <p>
              <%= f.label :message, "Personalized message" %>
              <br>
              <%= f.text_area :message, rows: 2 %>
            </p>
            <p class="normal"><span class="instruction">Your message will include the following text:</span><br>
              <strong>I thought you’d be interested in this Mamajamas baby registry:</strong>
              <%= link_to public_list_url(@view.owner.slug).gsub(/(http|https):\/\//, ""), public_list_url(@view.owner.slug) -%>
            </p>
          </dd>
        </fieldset>
      </dl>
      <div class="button-row">
        <button id="bt-cancel" class="button" type="reset">Cancel</button>
        <button id="bt-name" class="button bt-color bt-send" type="submit"><span class="ss-icon ss-send"></span>Send</button>
      </div>
    </form>
    <% end -%>
  </div>
</div>
<!-- end share by email win --> 
