<%= content_for :title_links do %>
  <ul>
  <li id="bt-follow"><a href="#" class="button">Follow</a></li>
  <li id="print"><a href="#" class="ss-icon" title="Print"><span>Print</span></a></li>
  <li id="pinterest"><a href="#" class="social" title="Pinterest">Pinterest</a></li>
  <li id="twitter"><a href="#" class="social" title="Twitter">Twitter</a></li>
  <li id="facebook"><a href="#" class="social" title="Facebook">Facebook</a></li>
</ul>
<% end -%>
<%= content_for :nav do %>
  <nav id="categories">
    <ul>
      <% @categories.each do |category| -%>
        <li class="<%= "cat-selected" if category.id == @category.id %>">
          <%= link_to category.name,
            public_list_category_path(current_user.username, category.slug) %>
        </li>
      <% end -%>
    </ul>
  </nav>
<% end -%>
<%= content_for :tertiary do %>
  <div id="module-profile">
    <div class="content">
      <%= image_tag current_user.profile_picture.public_list, alt: "#{current_user.username} profile photo" %>
      <h3><%= current_user.display_name %></h3>
      <p>
      Age <%= current_user.age %><br>
      <p class="right">
        <%= link_to "Full profile", profile_path %>
      </p>
    </div>
  </div>
  <% if current_user.followed_users_with_public_lists.any? -%>
    <div id="module-friends">
      <div class="content">
        <h3><%= "#{current_user.possessive_name} Friends" %></h3>
        <ul class="clearfix">
          <%= render partial: "friends/sidebar_friend", collection: current_user.followed_users_with_public_lists, locals: { show_names: false } %>
        </ul>
        <p class="right">
          <%= link_to "See all", friends_path %>
        </p>
      </div>
    </div>
  <% end -%>
<% end -%>
<form class="label-infield">
  <!-- baby gear table ******* -->
  <table width="100%" cellspacing="0" id="babygear">
    <thead>
      <tr>
        <th scope="col" class="own">Own</th>
        <th scope="col" class="item">Item</th>
        <th scope="col" class="rating">Rating</th>
        <th scope="col" class="when">When to Buy</th>
        <th scope="col" class="priority sorting">Priority</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "list_item", collection: @list_entries %>
    </tbody>
  </table>
  <!-- end baby gear table ******* -->
</form>
