<%= content_for :title_links do %>
  <ul>
  <li id="bt-follow"><a href="#" class="button">Follow</a></li>
  <li id="print"><a href="#" class="ss-icon" title="Print"><span>Print</span></a></li>
  <li id="pinterest"><a href="#" class="social" title="Pinterest">Pinterest</a></li>
  <li id="twitter"><a href="#" class="social" title="Twitter">Twitter</a></li>
  <li id="facebook"><a href="#" class="social" title="Facebook">Facebook</a></li>
</ul>
<% end -%>
<%= content_for :nav do %>
  <nav id="categories">
    <ul>
      <% @categories.each do |category| -%>
        <li class="<%= "cat-selected" if category.id == @category.id %>">
          <%= link_to category.name,
            public_list_category_path(current_user.username, category.slug) %>
        </li>
      <% end -%>
    </ul>
  </nav>
<% end -%>
<%= content_for :tertiary do %>
  <div id="module-profile">
  <div class="content">
    <img src="/assets/profile_photo-default-l.png" alt="Profile photo">
    <h3>Margaret Anderson</h3>
    <h4>Eco Mom</h4>
    <p>
    Age 40<br>
    Mom to Xander, 18 mos.<br>
    Value shopper<br>
    <em><span class="ss-tag"></span> Tags:</em> <a href="#">Urban</a></p>
    <p class="right"><a href="#">Full profile</a></p>
  </div>
</div>
<div id="module-friends">
  <div class="content">
    <h3>Margaret’s Friends</h3>
    <ul class="clearfix">
      <li><a href="#"><img src="/assets/follow-mom.jpg" alt="profile image"><div><span class="firstname">Christina</span> Anderson</a></div></li>
      <li><a href="#"><img src="/assets/follow-mom.jpg" alt="profile image"><div><span class="firstname">Andrea</span> Bhosle-Morimoto</a></div></li>
      <li><a href="#"><img src="/assets/follow-mom.jpg" alt="profile image"><div><span class="firstname">Kathleen</span> Bowers</a></div></li>
      <li><a href="#"><img src="/assets/follow-mom.jpg" alt="profile image"><div><span class="firstname">Sally</span> Duarte</a></div></li>
      <li><a href="#"><img src="/assets/follow-mom.jpg" alt="profile image"><div><span class="firstname">Kim</span> Edwards</a></div></li>
    </ul>
    <p class="right"><a href="#">See all</a></p>
  </div>
</div>
<% end -%>
<form class="label-infield">
  <!-- baby gear table ******* -->
  <table width="100%" cellspacing="0" id="babygear">
    <thead>
      <tr>
        <th scope="col" class="own">Own</th>
        <th scope="col" class="item">Item</th>
        <th scope="col" class="rating">Rating</th>
        <th scope="col" class="when">When to Buy</th>
        <th scope="col" class="priority sorting">Priority</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "list_item", collection: @list_entries %>
    </tbody>
  </table>
  <!-- end baby gear table ******* -->
</form>
