<% if @view.preview? -%>
  <%= content_for :header_overlay do %>
    <!-- message overlay -->
    <div class="msg-overlay preview-msg">
      <div class="overlay-bg">&nbsp;</div>
      <div class="gridContainer clearfix">
        <div class="col1">
          <h1>Preview</h1>
          <p>This is what your published list will look like to other users.</p>
        </div>
        <div class="col2">
          <%= form_tag public_list_publish_list_path do %>
            <p>
              <% if current_user.present? && current_user.facebook_connected? -%>
                <%= check_box_tag 'facebook_share', '1', true %>
                <%= label_tag 'facebook_share', 'Share on Facebook' %>
              <% else -%>
                &nbsp;
              <% end -%>
            </p>
            <p>
              <button type="submit" class="button" id="bt-cancel" name="cancel" value="1">Cancel</button>
              <button type="submit" class="button bt-color" id="bt-publish" name="publish" value="1">Publish</button>
            </p>
          <% end -%>
        </div>
      </div>
    </div>
    <!-- / end message overlay -->
  <% end -%>
<% end -%>
<%= content_for :title_links do %>
  <ul>
  <li id="bt-follow"><a href="#" class="button">Follow</a></li>
  <li id="print"><a href="#" class="ss-icon" title="Print"><span>Print</span></a></li>
  <li id="pinterest"><a href="#" class="social" title="Pinterest">Pinterest</a></li>
  <li id="twitter"><a href="#" class="social" title="Twitter">Twitter</a></li>
  <li id="facebook"><a href="#" class="social" title="Facebook">Facebook</a></li>
</ul>
<% end -%>
<%= content_for :subheader_content do %>
  <p class="pubdate">
    Created <%= l @view.list.created_at, format: :friendly %>
    <br>
    Updated <%= l @view.list.updated_at, format: :friendly %>
  </p>
<% end -%>
<%= content_for :nav do %>
  <nav id="categories">
    <ul>
      <% @view.categories.each do |category| -%>
        <li class="<%= "cat-selected" if category.id == @view.category.id %>">
          <% if @view.preview? -%>
            <%= link_to category.name,
              public_list_preview_category_list_path(category.slug) %>
          <% else -%>
            <%= link_to category.name,
              public_list_category_path(current_user.slug, category.slug) %>
          <% end -%>
        </li>
      <% end -%>
    </ul>
  </nav>
<% end -%>
<%= content_for :tertiary do %>
  <div id="module-profile">
    <div class="content">
      <%= image_tag current_user.profile_picture.public_list, alt: "#{current_user.username} profile photo" %>
      <h3><%= current_user.display_name %></h3>
      <p>
      Age <%= current_user.age %><br>
      <p class="right">
        <%= link_to "Full profile", profile_path %>
      </p>
    </div>
  </div>
  <% if current_user.followed_users_with_public_lists.any? -%>
    <div id="module-friends">
      <div class="content">
        <h3><%= "#{current_user.possessive_name} Friends" %></h3>
        <ul class="clearfix">
          <%= render partial: "friends/sidebar_friend", collection: current_user.followed_users_with_public_lists, locals: { show_names: false } %>
        </ul>
        <p class="right">
          <%= link_to "See all", friends_path %>
        </p>
      </div>
    </div>
  <% end -%>
<% end -%>
<form id="public-list" class="label-infield" data-list-entries="<%= @list_entries_json %>">
  <!-- baby gear table ******* -->
  <table width="100%" cellspacing="0" id="babygear">
    <thead>
      <tr>
        <th scope="col" class="own" data-sort="owned">Own</th>
        <th scope="col" class="item" data-sort="name">Item</th>
        <th scope="col" class="rating" data-sort="rating">Rating</th>
        <th scope="col" class="when" data-sort="when_to_buy">When to Buy</th>
        <th scope="col" class="priority sorting" data-sort="priority">Priority</th>
      </tr>
    </thead>
    <tbody id="list-items">
      <%= render partial: "list_item", collection: @view.list_entries %>
    </tbody>
  </table>
  <!-- end baby gear table ******* -->
</form>
<script type="text/javascript">
Mamajamas.Context.List = new Mamajamas.Models.List({
  title: '<%= @view.list.title %>',
  category_id: '<%= @view.category.id %>',
  category: '<%= @view.category.slug %>',
  current_position: 0
})
</script>
