<td class="own">
  <input type="checkbox" disabled id="own04" title="Do you own this item?"> <label for="own04">I own this item.</label>
</td>
<td class="item">
  <div class="prod-thumb">
    <img src="/assets/products/thumb_nursing_bottle-sketch@2x.png" alt="{{product_type}}">
  </div>
  <%= form_for [ list, list_item ], url: list_list_items_path(category: @category, format: :json) do |f| -%>
    <%= f.hidden_field :product_type_id, value: "{{product_type_id}}" %>
    <%= f.hidden_field :category_id, value: "{{category_id}}" %>
    <%= f.hidden_field :priority, value: "{{priority}}" %>
    <%= f.hidden_field :when_to_buy, value: "{{when_to_buy}}" %>
    <div class="prod-desc">
      <div class="prod-category">
        {{product_type}}
      </div>
      <h3>
        {{name}}
      </h3>
      <div class="prod-note">
      </div>
      <fieldset>
        <legend><span>Product Info</span></legend>
        <p>
        <%= f.label :name, "Product name / brand" %>
        <%= f.text_field :name %>
        </p>
        <fieldset>
          <legend><span>Need vs. Own</span></legend>
          <ul class="inline">
            <li>
            <input type="radio" id="radio-need"> <label for="radio-need" name="need-own">Need</label>
            </li>
            <li>
            <input type="radio" id="radio-own" checked> <label for="radio-own" name="need-own">Own</label>
            </li>
          </ul>
        </fieldset>
        <p>
        <%= f.label :link, "Link to buy" %>
        <%= f.text_field :link %>
        </p>
        <p>
        <%= f.label :notes %>
        <%= f.text_area :notes, rows: nil %>
        </p>
        <p class="label-norm">
        <input type="checkbox" id="chk-fb-share" checked> <label for="chk-fb-share" class="small">Share on Facebook</label>
        </p>
      </fieldset>
      <div class="prod-links">
        <ul>
          <li>
          <button type="reset" value="Reset" class="cancel-item button bt-light">Cancel</button>
          </li>
          <li>
            <%= submit_tag "Save", class: "save-item button bt-color" %>
          </li>
        </ul>
      </div>
    </div>
  <% end -%>
</td>
<td class="rating">
  <div class="eggs">
    <div class="egg egg-full"></div>
    <div class="egg egg-full"></div>
    <div class="egg egg-full"></div>
    <div class="egg egg-full"></div>
    <div class="egg"></div>
  </div>
</td>
<td class="when">
  Pre-birth
</td>
<td class="priority">
  <div class="priority-med">
    medium
  </div>
</td>
