<div class="nestedwin mjform clearfix" id="registry-settings">
  <h2><%= @registry.settings_title %></h2>
  <%= form_for @registry, url: registry_path, as: :registry, method: :put, html: { id: "frm-registry-settings", class: "label-infield" } do |f| %>
    <% if current_user.setup_registry? -%>
      <h3>Registry</h3>
      <fieldset>
        <div class="radio">
          <label>
            <%= f.radio_button :registry, true %>
            <strong class="col5">ON</strong> Allow visitors to buy you gifts from your baby gear list. Recommended
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :registry, false %>
            <strong class="col5">OFF</strong> Deactivate the registry option on your baby gear list.
          </label>
        </div>
      </fieldset>
    <% else -%>
      <%= f.hidden_field :registry, value: true %>
    <% end -%>
    <h3 id="shippinghed" class="collapsible">Shipping address</h3>
    <div class="collapsible-content" style="display: none;">
      <fieldset>
        <p class="form-group">
          <%= f.label :full_name, "First and last name" %>
          <%= f.text_field :full_name, class: "form-control" %>
          <%= field_error @registry, :full_name %>
        </p>
        <p class="form-group">
          <%= f.label :street, "Street address, P.O. box ..." %>
          <%= f.text_field :street, class: "form-control" %>
          <%= field_error @registry, :street %>
        </p>
        <p class="form-group">
          <%= f.label :street2, "Apartment, building, suite, unit, floor ..." %>
          <%= f.text_field :street2, class: "form-control" %>
        </p>
        <div class="grid">
          <div class="col col50">
            <p class="form-group">
              <%= f.label :city %>
              <%= f.text_field :city, class: "form-control" %>
              <%= field_error @registry, :city %>
            </p>
          </div>
          <div class="col col50">
            <p class="form-group">
              <%= f.label :region, "State/Province/Region" %>
              <%= f.text_field :region, class: "form-control" %>
              <%= field_error @registry, :region %>
            </p>
          </div>
        </div>
        <div class="grid">
          <div class="col col50">
            <p class="form-group">
              <%= f.label :postal_code, "Zip code" %>
              <%= f.text_field :postal_code, class: "form-control" %>
              <%= field_error @registry, :postal_code %>
            </p>
          </div>
          <div class="col col50">
            <p class="form-group">
              <%= f.label :country_code, class: "hidden" %>
              <%= f.select :country_code, @registry.countries, prompt: "Country..." %>
              <%= field_error @registry, :country_code %>
            </p>
          </div>
        </div>
        <p class="form-group">
          <%= f.label :phone, "Phone (optional)" %>
          <%= f.text_field :phone, class: "form-control" %>
        </p>
      </fieldset>
    </div>
    <h3>Co-registrant (partner name)</h3>
    <fieldset>
      <p class="form-group">
        <%= f.label :partner_full_name, "Co-registrant first and last name" %>
        <%= f.text_field :partner_full_name, class: "form-control" %>
      </p>
    </fieldset>

    <div class="button-row clearfix">
      <div class="progress-container">
        <% if @registry.has_list? -%>
          <%= link_to "Cancel", list_path, id: "bt-cancel", class: "button" %>
        <% end -%>
        <button id="bt-create-account" class="button" type="submit">
          <%= @registry.settings_button_text %>
        </button>
        <img class="progress" style="display: none;" src="/assets/progress-bar-da578cc730973af12284b3ee87a398b8.gif" alt="Progress-bar"> </div>
    </div>
  <% end %>
</div>
