<tr class="user-row" id="user-<%= user.id %>" data-user-id="<%= user.id %>">
  <td>
    <%= image_tag user.profile_picture, size: "45x45", class: "avatar" %>
    <span class="name">
      <%= link_to user.display_name, admin_user_path(user) %>
    </span>
    <br/>
    <span class="subtext">
      <%= mail_to(user.email) %>
    </span>
    <% if user.list && user.list_tags.present? -%>
      <div class="list-tags"><%= user.list_tags %></div>
    <% end -%>
  </td>
  <td>
    <% if user.shared_list? -%>
      <%= link_to user.username, public_list_path(user.username) %>
    <% else -%>
      <%= user.username %>
    <% end -%>
  </td>
  <td>
    <%= user.signed_up %>
  </td>
  <td>
    <%= user.last_sign_in %>
  </td>
  <td>
    <%= user.list.present? ? user.list.list_items.user_items.count : 0 %>
  </td>
  <td>
    <%= user.list.present? ? user.list.list_items.gifted_items.count : 0 %>
  </td>
  <td>
    <%= user.referred_active_users.to_a.size %>
  </td>
  <td class="user-actions">
    <%= link_to admin_become_path(user.username), class: "button bt-become" do %>
      <span class="ss-users"> Impersonate</span>
    <% end -%>
    <%= link_to admin_user_path(user), method: "delete", class: "button bt-user-delete" do %>
      <span class="ss-delete"> Delete</span>
    <% end -%>
  </td>
</tr>
<% if user.admin_notes.present? -%>
  <tr class="no-border user-notes-row">
    <td colspan="5" class="admin-notes">
      <span class="subtext">Notes</span>
      <br/>
      <%= h user.admin_notes %>
    </td>
    <td></td>
  </tr>
<% end -%>
