<%= content_for :tertiary do %>
  <div id="admin-nav">
    <%= link_to "admin", "/admin" %> &gt; users
  </div>
  <%= render 'actions' %>
<% end -%>

<div class="users-list">
  <h2>Registered Users</h2>
  <h4>
    <%= @view.registered.count %> Users, <%= @view.recent.count %> signed up in the last 24 hours
  </h4>
  <table id="users-table" class="table">
    <thead>
      <tr>
        <th class="col-sortable">Name</th>
        <th class="col-sortable">URL slug</th>
        <th style="width: 100px;">Shared List?</th>
        <th class="col-sortable">Signed Up</th>
        <th class="col-sortable">Last Active</th>
        <th class="col-sortable">Item Count</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <%= render partial: 'user_row', collection: @view.registered, as: :user %>
    </tbody>
  </table>
</div>
<script type="text/javascript">
$(document).ready(function() {
  new Mamajamas.Views.Admin.UsersIndex();
});
</script>
