<%= content_for :tertiary do %>
  <div id="admin-nav">
    <%= link_to "admin", "/admin" %> &gt; <%= link_to "users", admin_users_path %> &gt; <%= @view.username %>
  </div>
  <div class="admin-button">
    <%= link_to admin_become_path(@view.user.username), class: "button bt-become" do %>
      <span class="ss-users"> Impersonate</span>
    <% end -%>
  </div>
  <div class="admin-button">
    <%= link_to admin_user_path(@view.user), method: "delete", class: "button bt-user-delete" do %>
      <span class="ss-delete"> Delete</span>
    <% end -%>
  </div>
<% end -%>

<div class="user-list">
  <h2>
    <%= image_tag @view.profile_picture, size: "45x45", class: "avatar" %>
    <%= @view.full_name %>
  </h2>
  <div id="user-notes">
    <div id="admin-notes">
      <%= h @view.user.admin_notes %>
    </div>
    <% if @view.user.admin_notes.present? -%>
      <%= link_to "Update notes", "#", class: "toggle-notes" %>
    <% else -%>
      <%= link_to "Add notes", "#", class: "toggle-notes" %>
    <% end -%>
    <div id="user-notes-form" style="display: none;">
      <%= form_for([ :admin, @view.user ], url: { action: "update_notes" }) do |f| %>
        <%= f.text_area :admin_notes %>
        <%= f.submit "Update", class: "button bt-color" %>
      <% end -%>
    </div>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td>URL slug</td>
        <td><%= @view.username %></td>
      </tr>
      <tr>
        <td>First name</td>
        <td><%= @view.first_name %></td>
      </tr>
      <tr>
        <td>Last name</td>
        <td><%= @view.last_name %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= mail_to @view.email %></td>
      </tr>
      <tr>
        <td>Signed up</td>
        <td><%= @view.user.signed_up %></td>
      </tr>
      <tr>
        <td>Last active</td>
        <td><%= @view.user.last_sign_in %></td>
      </tr>
      <tr>
        <td>Referral ID</td>
        <td><%= @view.user.referral_id %></td>
      </tr>
      <tr>
        <td>Referral Url</td>
        <td><%= link_to nil, root_url(ref: @view.user.referral_id), target: '_blank' %></td>
      </tr>
      <tr>
        <td>Followers</td>
        <td><%= @view.follower_count %></td>
      </tr>
      <tr>
        <td>Following</td>
        <td><%= @view.following_count %></td>
      </tr>
      <% if @view.has_social_connection? -%>
        <tr>
          <td>Social</td>
          <td>
            <% if @view.user.facebook_connected? -%>
              <%= image_tag "facebook.png", size: "35x35" %>
            <% end -%>
            <% if @view.user.google_connected? -%>
              <%= image_tag "google.png", size: "35x35" %>
            <% end -%>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
  <h2>
    List
  </h2>
  <%= form_for([ :admin, @view.user ], html: { class: "edit-user-list" }) do |f| %>
    <%= fields_for :list, @view.list do |l| %>
      <table class="table">
        <tbody>
          <% if @view.list.present? -%>
            <tr>
              <td>Featured?</td>
              <td>
                <%= l.check_box :featured %>
              </td>
            </tr>
            <tr>
              <td>Expert?</td>
              <td>
                <%= l.check_box :expert %>
              </td>
            </tr>
          <% end -%>
          <tr>
            <td>Shared?</td>
            <td>
              <%= check_box_tag "shared_list", "1", @view.user.shared_list?, disabled: true %>
            </td>
          </tr>
          <tr>
            <td>Item count</td>
            <td>
              <%= @view.list_item_count %>
            </td>
          </tr>
          <tr>
            <td>View count</td>
            <td>
              <%= @view.list_view_count %>
            </td>
          </tr>
          <tr>
            <td>Public view count</td>
            <td>
              <%= @view.list_public_view_count %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end -%>
  <% end -%>
  <% if @view.quiz_answers.size > 0 -%>
    <h2>
      Quiz
    </h2>
    <table class="table">
      <tbody>
        <% @view.quiz_answers.each do |answer| -%>
          <tr>
            <td><%= answer.question %></td>
            <td>
              <%= answer.answers.join(", ") %>
            </td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  <% end -%>
</div>
<script type="text/javascript">
$(document).ready(function() {
  new Mamajamas.Views.Admin.UsersShow();
});
</script>
