<!-- window header -->
<h2>Add to <strong>Mamajamas List</strong></h2>
<!-- window content -->
<div class="content clearfix">
  <div class="logo">&nbsp;</div>
  <div id="thanks" style="display:none">
    <p>This item has been added to your list.</p>
    <p>
      <a id="view-link" href="#" target="_blank">View this item on Mamajamas</a>
    </p>
  </div>
  <div id="errors" style="display:none">
    <p>
      Sorry, we could not add this item right now. You can go to <a href="http://www.mamajamas.com" target="_blank">Mamajamas</a> to add the item directly.
    </p>
  </div>
  <div id="loading" style="display: none; text-align: center; width: 100%">
    <%= image_tag 'loader36-f.gif' %>
  </div>
  <%= form_for @list_item, url: bookmarklet_path do |f| -%>
    <%= f.hidden_field :link %>
    <%= f.hidden_field :image_url %>
    <%= f.hidden_field :priority %>
    <% if user_signed_in? %>
      <div id="categories" style="display: none" data-categories="<%= @categories_json %>"></div>
      <div class="col1">
        <div class="prod-image-frame">
          <ul class="bxslider">
          </ul>
        </div>
      </div>
      <div class="col2">
        <!-- item name and price ***** -->
        <fieldset>
          <div class="form-row">
            <%= f.label :name, "Item Name" %>
            <br />
            <%= f.text_area :name, id: 'additem-name', cols: nil, rows: nil %>
            <%= field_error @list_item, :name %>
          </div>
          <div class="form-row">
            <%= f.label :price %>
            <%= f.text_field :price, id: 'additem-field-price' %>
            <%= field_error @list_item, :price %>
          </div>
        </fieldset>
        <!-- / item name and price ***** -->

        <!-- category - type ***** -->
        <fieldset>
          <div class="form-row">
            <%= label :category_id, 'Category' %>
            <!-- drop-down menu: item category -->
            <%= f.select :category_id, @categories.map { |c| [ c[:name], c[:id ]]}, {}, id: 'additem-field-cat' %>
            <!-- / drop-down menu: item category -->
          </div>
          <div class="form-row">
            <%= label :product_type_id, 'Type' %>
            <!-- drop-down menu: item type -->
            <%= f.select :product_type_id, selected_category[:product_types].map { |pt| [ pt[:name], pt[:id] ] }, {}, id: 'additem-field-type' %>
            <!-- / drop-down menu: item type -->
            <%= f.hidden_field :product_type_name %>
          </div>
          <div class="form-row">
            <%= label :age_range_id, 'Age' %>
            <%= f.select :age_range_id, @age_ranges.map { |a| [ a.name, a.id ] }, {}, id: 'additem-field-age' %>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-row">
            <%= f.label :owned, 'Need' %>
            I
            <!-- drop-down menu:  -->
            <%= f.select :owned, [ [ 'Want', false ], [ 'Have', true ] ], {} -%>
            <!-- / drop-down menu: -->
            <!-- drop-down menu:  -->
            <%= f.select :quantity, [ 1, 2, 3, 4, 5 ] -%>
            <!-- / drop-down menu: -->
            of these. </div>
        </fieldset>
        <!-- / price - category - type ***** -->

        <!-- rating - review-comment ***** -->
        <fieldset>
          <div class="rating" data-rating="0" style="display:block;"><em>My rating:</em>
            <div class="stars">
              <div data-rating="1" class="star"></div>
              <div data-rating="2" class="star"></div>
              <div data-rating="3" class="star"></div>
              <div data-rating="4" class="star"></div>
              <div data-rating="5" class="star"></div>
            </div>
          </div>
          <%= f.hidden_field :rating -%>
          <div class="prod-note-input">
            <p>
              <%= f.label :notes do -%>
                <span class="ss-chat"></span> Review/Comment
              <% end -%>
              <br />
              <%= f.text_area :notes, rows: nil, cols: nil -%>
            </p>
          </div>
        </fieldset>
        <!-- / rating - review-comment ***** -->
        <button class="button bt-color" type="submit">
          <span class="ss-plus"></span>Add to List
        </button>
      </div>
    <% else -%>
      <h1 style="margin-top: 0px;">Login to Mamajamas</h1>
      <p>
        It does not look you are logged into <%= link_to "Mamajamas", new_user_session_path, target: "_blank" %>.
      </p>
      <p>
        <%= link_to "Login to Mamajamas", new_user_session_path, target: "_blank" %>
      </p>
    <% end -%>
  <% end -%>
</div>
<!-- end window content -->
</div>
