<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mamajamas</title>
<meta name="description" content="">
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
<!-- header area ***** -->
<%= content_for?(:header_overlay) ? yield(:header_overlay) : "" %>
<div id="hed-wrap" class="progressbar">
  <div class="gridContainer clearfix">
    <div id="header">
      <div id="branding">
        <%= link_to (user_signed_in? ? list_path : root_path) do %>
          <h1>Mamajamas</h1>
        <% end -%>
      </div>
      <div id="search">
        <input type="text" placeholder="Search">
      </div>
      <div id="login">
        <ul>
        <% if user_signed_in? -%>
          <li id="myaccount">
            <%= link_to profile_path do %>
              <%= image_tag current_user.profile_picture.account %>
              My Account
              <span class="ss-dropdown"></span>
            <% end -%>
            <ul class="nav-drop">
              <li class="user-email"><%= link_to current_user.email, profile_path %></li>
              <li><%= link_to "My List", list_path %></li>
              <li><%= link_to "My Profile", profile_path %></li>
              <li class="last">
                <%= link_to "Logout", destroy_user_session_path, method: :delete, id: "logout" %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, id: "server-logout", style: "display: none;" %>
              </li>
            </ul>
          </li>
        <% else -%>
          <li>
          <%= link_to "Sign Up", new_user_registration_path, id: "signup-link" %>
          </li>
          <li>
          <%= link_to "Login", new_user_session_path, id: "login-link" %>
          </li>
        <% end -%>
        </ul>
      </div>
      <div id="progress">
      	<ol class="prog2"><!-- comments between list items prevent whitespace insertion when displayed inline -->
        	<li class="prog1"><strong>1</strong> Take the quiz</li><!--
          --><li class="prog2"><strong>2</strong> Make your list and get advice</li><!--
          --><li class="prog3"><strong>3</strong> Share your list</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- end header area -->
<!-- body area ***** -->
<div class="gridContainer clearfix"<%= "id=#{page_id}" unless page_id.blank? %>>
  <div id="title">
    <div id="subhed">
      <h2><%= subheader %></h2>
    </div>
    <%= content_for?(:subheader_content) ? yield(:subheader_content) : "" %>
    <div id="title-links">
      <%= yield(:title_links) %>
    </div>
  </div>
  <div id="primary">
    <div class="content">
      <%= content_for?(:nav) ? yield(:nav) : raw("&nbsp;") -%>
    </div>
  </div>
  <div id="secondary">
    <div class="content">
      <!-- notification ***** -->
      <div id="notifications">
        <%= notifications %>
      </div>
      <%= yield %>
    </div>
  </div>
  <div id="tertiary">
    <%= content_for?(:tertiary) ? yield(:tertiary) : raw("&nbsp;") -%>
  </div>
  <div id="footer">
    <div class="content">[footer]</div>
  </div>
</div>
<!-- end body area -->
<!-- modal window ************ -->
<% unless user_signed_in? -%>
  <div class="modal-wrap" style="display:none;" id="signup-modal">
    <div class="modal-overlay"> &nbsp; </div>
    <div class="vertical-offset"></div>
    <!-- modal window box -->
    <div class="modal-box" id="create-account-email">
      <%= render :partial => "devise/registrations/signup" %>
    </div>
    <!-- end modal window box -->
  </div>
  <div class="modal-wrap" style="display:none;" id="login-modal">
    <div class="modal-overlay"> &nbsp; </div>
    <div class="vertical-offset"></div>
    <!-- modal window box -->
    <div class="modal-box" id="login-window">
      <%= render :partial => "devise/sessions/login" %>
    </div>
    <!-- end modal window box -->
  </div>
<% end -%>
<!-- /end modal window ************ -->

<!-- Google Analytics -->
<%= render partial: "shared/context" %>
<%= render partial: "shared/facebook" %>
</body>
</html>
