<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<%= display_meta_tags %>
<!-- favicon -->
<link rel="icon" type="image/x-icon" href="<%= asset_path("favicon.ico") %>" />
<!-- for Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path("apple-touch-icon-114.png") %>">
<!-- for iPad: -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path("apple-touch-icon-72.png") %>">
<!-- for iPhone: -->
<link rel="apple-touch-icon-precomposed" href="<%= asset_path("apple-touch-icon-57.png") %>">
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<% if admin_page? -%>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "admin" %>
<% end -%>
<%= csrf_meta_tags %>
<meta name="p:domain_verify" content="f38df511b2c70a2fdda32d925677f433"/>
<%= facebook_ad_conversion %>
</head>
<body id="<%= body_id if body_id.present? %>" class="<%= body_class if body_class.present? %>">

<div id="mobile-menu">
    <div class="mobile-menu-content">
      <button class="close-btn">&times;</button>

      <h2>Menu</h2>
      <ul>
        <li class="<%= "active" if params[:controller] == "lists" %>">
          <%= link_to (user_signed_in? ? list_path : root_path) do %>
            Home
          <% end -%>
        </li>
        <li class="<%= "active" if params[:controller] == "friends" %>">
          <%= link_to "Browse", new_friend_path, class: "find-moms" %>
        </li>
        <% if user_signed_in? && !current_user.guest? -%>
          <li>
            <%= link_to "Account", settings_path %>
          </li>
        <% else -%>
          <li>
            <%= link_to "Login", new_user_session_path  %>
          </li>
          <li>
            <%= link_to "Sign Up", new_user_registration_path  %>
          </li>
          <%= yield :logged_out_header_buttons -%>
        <% end -%>
      </ul>

      <h2>Get In Touch</h2>
      <ul>
        <li><%= link_to "Questions", faq_path %></li>
        <li><a href="mailto:angie@mamajamas.com">Contact</a></li>
        <li><%= link_to "Blog", "http://blog.mamajamas.com/", target: "_blank" %></li>
      </ul>
    </div>
</div>


<!-- header area ***** -->
<%= content_for?(:header_overlay) ? yield(:header_overlay) : "" %>
<div id="hed-wrap">
  <div class="gridContainer clearfix">
    <div id="header">

      <div id="branding">
        <%= link_to (user_signed_in? ? list_path : root_path) do %>
          <h1>Mamajamas</h1>
        <% end -%>
        <%= link_to (user_signed_in? ? list_path : root_path), class: "beta tooltip-r" do %>
        beta <span>&#8220;beta&#8221; means we&#8217;re still working out some of the kinks.<em></em></span>
        <% end -%>
      </div>

      <!-- Mobile Menu Button -->
      <div id="mobile-menu-btn-container">
        <button id="toggle-mobile-menu">
          <span class="menu-bar"></span>
          <span class="menu-bar"></span>
          <span class="menu-bar"></span>
        </button>
      </div>

      <%= content_for?(:search) ? yield(:search) : "" %>
      <nav id="mainnav">
        <% if show_mainnav && user_signed_in? -%>
          <ul>
            <li class="<%= "active" if params[:controller] == "lists" %>">
              <%= link_to "Customize Registry", list_path %>
            </li>
            <li class="<%= "active" if params[:controller] == "friends" %>">
              <%= link_to "Browse Registries", new_friend_path, class: "find-moms" %>
            </li>
          </ul>
        <% end -%>
      </nav>

      <div id="login">
        <ul>
          <% if user_signed_in? -%>
              <li><a href="#" class="get-bookmark">Get Bookmark</a></li>
          <% end %>
          <li><a href="mailto:angie@mamajamas.com">Contact</a></li>
          <li><%= link_to "FAQ", faq_path %></li>
          <li><%= link_to "Blog", "http://blog.mamajamas.com/", target: "_blank" %></li>
          <% if user_signed_in? && !current_user.guest? -%>
            <li id="myaccount">
              <%= link_to settings_path, class: "nav-drop-link" do %>
                <%= image_tag current_user.profile_picture.account %>
                <span class="ss-icon ss-dropdown"></span>
              <% end -%>
              <ul class="nav-drop">
                <li class="user-email"><%= link_to current_user.display_email, profile_path %></li>
                <li><%= link_to "My Registry", list_path %></li>
                <li><%= link_to "My Settings", settings_path %></li>
                <% if admin_user? -%>
                  <li><%= link_to "Admin", admin_admin_path %></li>
                <% end -%>
                <li class="last">
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, id: "logout" %>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, id: "server-logout", style: "display: none;" %>
                </li>
              </ul>
            </li>
          <% else -%>
            <li>
              <%= link_to "Login", new_user_session_path, id: "login-link", class: "button" %>
            </li>
            <li>
              <%= link_to "Sign Up", new_user_registration_path, id: "signup-link", class: "button" %>
            </li>
            <%= yield :logged_out_header_buttons -%>
          <% end -%>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- end header area -->
<!-- body area ***** -->
<div class="gridContainer clearfix"<%= "id=#{page_id}" unless page_id.blank? %>>
  <% if nested_window? %>
    <%= yield %>
  <% elsif page_id == "registry" %>
    <%= yield %>
  <% else %>
    <%= content_for?(:feature) ? yield(:feature) : "" %>
    <% if show_header -%>
      <div id="title">
        <div id="subhed">
          <%= preheader %>
          <h2><%= subheader %></h2>
        </div>
        <%= content_for?(:subheader_content) ? yield(:subheader_content) : "" %>
        <div id="title-links">
          <%= yield(:title_links) %>
        </div>
      </div>
    <% end -%>
    <div id="primary">
      <div class="content">
        <%= content_for?(:nav) ? yield(:nav) : raw("&nbsp;") -%>
      </div>
    </div>
    <div id="secondary">
      <% if skip_secondary_content? -%>
        <!-- notification ***** -->
        <div id="notifications">
          <%= notifications %>
        </div>
        <%= yield %>
      <% else -%>
        <div class="content">
          <!-- notification ***** -->
          <div id="notifications">
            <%= notifications %>
          </div>
          <%= yield %>
        </div>
      <% end -%>
    </div>
    <%- if content_for?(:tertiary_override) -%>
      <div id="tertiary">
        <%= yield(:tertiary_override) %>
      </div>
    <% else -%>
      <div id="tertiary"<%= " class=#{tertiary_class}" if tertiary_class.present? %>>
        <div class="content">
          <%= content_for?(:tertiary) ? yield(:tertiary) : raw("&nbsp;") -%>
        </div>
      </div>
    <% end -%>
    <div id="footer">
      <div class="content">
        <%= yield :footer %>
      </div>
    </div>
  <% end %>
</div>
<!-- end body area -->
<%= yield(:modal) %>
<!-- modal window ************ -->
<% if (user_signed_in? && current_user.guest?) || !user_signed_in? -%>
  <div class="modal-wrap" style="display:none;" id="signup-modal">
    <div class="modal-overlay"> &nbsp; </div>
    <div class="vertical-offset"></div>
    <!-- modal window box -->
    <div class="modal-box" id="create-account-email">
      <%= render :partial => "devise/registrations/signup" %>
    </div>
    <!-- end modal window box -->
  </div>
  <div class="modal-wrap" style="display:none;" id="login-modal">
    <div class="modal-overlay"> &nbsp; </div>
    <div class="vertical-offset"></div>
    <!-- modal window box -->
    <div class="modal-box" id="login-window">
      <%= render :partial => "devise/sessions/login" %>
    </div>
    <!-- end modal window box -->
  </div>
<% end -%>
<!-- /end modal window ************ -->
<!-- loader graphic -->
<!-- /end loader ************ -->

<!-- Google Analytics -->
<% if Rails.env.production? -%>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-27329366-1', 'mamajamas.com');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
</script>
<%# crazy egg tracking %>
<script type="text/javascript">
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0023/5287.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
<% end -%>
<%= render partial: "shared/context" %>
<%= render partial: "shared/facebook" %>
<% if pinnable? -%>
  <%= javascript_include_tag "pinterest" %>
<% end -%>
<%= render partial: "shared/bookmarklet_link" %>
</body>
</html>
